In [1]:
import pandas as pd
import numpy as np

In [2]:
evaluation = pd.read_csv("evaluation.csv", delimiter="|")
APU = pd.read_csv("Uni_Asia_Pacific_1.csv", delimiter="|")

In [3]:
evaluation.head(5)

   itemID
0      12
1   45274
2   10104
3   41371
4   14015

In [4]:
APU.head(5)

   itemID   rec1   rec2   rec3   rec4   rec5
0      12  72603  11989  11117   3106  44220
1   45274  14576  73124  33976  63166  54393
2   41371  14576  73124  33976  63166  54393
3   14015  72603  11989  11117   3106  44220
4   70766  72603  11989  11117   3106  44220

In [5]:
print(evaluation.shape)
print(APU.shape)

(1000, 1)
(1037, 6)

In [6]:
test = pd.merge(APU, evaluation, how='inner', on=["itemID"])

In [7]:
test.shape

(1037, 6)

In [8]:
test.head(10)

   itemID   rec1   rec2   rec3   rec4   rec5
0      12  72603  11989  11117   3106  44220
1   45274  14576  73124  33976  63166  54393
2   41371  14576  73124  33976  63166  54393
3   41371  58723   2408  30277  29508  15581
4   14015  72603  11989  11117   3106  44220
5   70766  72603  11989  11117   3106  44220
6   70766   4892  44815  63847  64544   2417
7    1822  72603  11989  11117   3106  44220
8    1822   4892  44815  63847  64544   2417
9   56794  72603  11989  11117   3106  44220

In [9]:
print(test['itemID'].value_counts())

50338    2
2074     2
2335     2
13269    2
7129     2
        ..
68427    1
11609    1
68560    1
9179     1
30725    1
Name: itemID, Length: 630, dtype: int64

In [10]:
# create DF to show the itemID where count is = 1 or = 2
df_1 = test.groupby('itemID').filter(lambda x: len(x) == 1)
df_2 = test.groupby('itemID').filter(lambda x: len(x) == 2)

print(df_1.shape)
print(df_2.shape)

(223, 6)
(814, 6)

In [11]:
df_1.head(10)

    itemID   rec1   rec2   rec3   rec4   rec5
0       12  72603  11989  11117   3106  44220
1    45274  14576  73124  33976  63166  54393
4    14015  72603  11989  11117   3106  44220
19   39779  72603  11989  11117   3106  44220
26   65307  72603  11989  11117   3106  44220
43   71586  72603  11989  11117   3106  44220
52   15657  72603  11989  11117   3106  44220
59   43844  72603  11989  11117   3106  44220
80    9365  72603  11989  11117   3106  44220
81   11177  72603  11989  11117   3106  44220

In [12]:
df_2.head(20)

    itemID   rec1   rec2   rec3   rec4   rec5
2    41371  14576  73124  33976  63166  54393
3    41371  58723   2408  30277  29508  15581
5    70766  72603  11989  11117   3106  44220
6    70766   4892  44815  63847  64544   2417
7     1822  72603  11989  11117   3106  44220
8     1822   4892  44815  63847  64544   2417
9    56794  72603  11989  11117   3106  44220
10   56794   4892  44815  63847  64544   2417
11   73378  72603  11989  11117   3106  44220
12   73378   4892  44815  63847  64544   2417
13   24603  72603  11989  11117   3106  44220
14   24603   4892  44815  63847  64544   2417
15    5737   4892  63847  53706  26528   7464
16    5737  63166  54393  56766  75990  66314
17   38980  72603  11989  11117   3106  44220
18   38980   4892  44815  63847  64544   2417
20   51066  72603  11989  11117   3106  44220
21   51066   4892  44815  63847  64544   2417
22   67776  14576  73124  33976  63166  54393
23   67776  58723   2408  30277  29508  15581

In [13]:
#Remove duplicate 

test.drop_duplicates(subset ="itemID", keep='first' ,inplace=True)
test

      itemID   rec1   rec2   rec3   rec4   rec5
0         12  72603  11989  11117   3106  44220
1      45274  14576  73124  33976  63166  54393
2      41371  14576  73124  33976  63166  54393
4      14015  72603  11989  11117   3106  44220
5      70766  72603  11989  11117   3106  44220
...      ...    ...    ...    ...    ...    ...
1032   39201   4892  44815  63847  64544   2417
1033   26764   4892  44815  63847  64544   2417
1034   14782  75659   3106   4283  31293  71747
1035   17138  58723   2408  30277  29508  15581
1036   23570  63166  54393  56766  75990  66314

[630 rows x 6 columns]

In [14]:
#Create dataframe that are match after merging
match_df = pd.merge(test, evaluation, on=["itemID"])
match_df.shape

(630, 6)

In [15]:
match_df

     itemID   rec1   rec2   rec3   rec4   rec5
0        12  72603  11989  11117   3106  44220
1     45274  14576  73124  33976  63166  54393
2     41371  14576  73124  33976  63166  54393
3     14015  72603  11989  11117   3106  44220
4     70766  72603  11989  11117   3106  44220
..      ...    ...    ...    ...    ...    ...
625   39201   4892  44815  63847  64544   2417
626   26764   4892  44815  63847  64544   2417
627   14782  75659   3106   4283  31293  71747
628   17138  58723   2408  30277  29508  15581
629   23570  63166  54393  56766  75990  66314

[630 rows x 6 columns]

In [16]:
#Create CSV

csv_match_df = match_df.to_csv("match_df.csv", index=False)

## 370 itemID not match with evaluation CSV

In [17]:
#Create dataframe that are not match

notmatch_df = evaluation[~evaluation.itemID.isin(match_df.itemID)]
notmatch_df

     itemID
2     10104
5     28515
9     60188
11    31401
12     6420
..      ...
989    2706
991    9569
992   50163
995   78384
999   41078

[370 rows x 1 columns]

In [18]:
items = pd.read_csv("items.csv", delimiter="|")
transaction = pd.read_csv("transactions.csv", delimiter="|")

data = pd.merge(items, transaction, on=["itemID"])
data

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0,1,0,0
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272,1,0,0
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856,1,0,0
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1,1,0,0
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771,1,0,0
...,...,...,...,...,...,...,...,...,...,...
365138,21264,Soon,Morris Gleitzman,Penguin Random House Children's UK,YFN,[5AL],279176,1,0,0
365139,22297,Warum? Fragen u. Antworten f. Kleinkinder - In...,NaN,Yo Yo Books,YBC,[YBL],279210,1,0,0
365140,56041,Tesla,Mark Lingane,Insync Holdings Pty Ltd,FLM,[],279248,1,0,0
365141,67832,Hexenherz. Glühender Hass,Monika Loerchner,Acabus Verlag,FMH,"[1D,FMH,FMR]",279343,2,0,0
365142,73084,Everybody Sees the Ants,A. S. King,LITTLE BROWN & CO,YXQF,"[YF,YXD,YXE]",279350,1,0,0

## 368 itemID found in items CSV

In [19]:
#Merge 
DF_1 = pd.merge(items, notmatch_df, on=["itemID"])
DF_1

,itemID,title,author,publisher,main topic,subtopics
0,75904,The Testaments,Margaret Atwood,Random House UK Ltd,JBSF11,"[FBA,FDB,FL,FXP]"
1,56300,Die Maus - Meine Kindergarten-Freunde,NaN,Ars Edition GmbH,Y,"[5A,5AC,YB,YF]"
2,636,A Song of Ice and Fire 05. A Dance with Dragons,George R. R. Martin,Harper Collins Publ. UK,FL,[FM]
3,21276,Wilder Girls,Rory Power,Random House LCC US,YNMF,"[YFB,YFG,YFS]"
4,48659,Die Splitter der Macht,Brandon Sanderson,Heyne Verlag,FMB,"[FMB,FYT]"
...,...,...,...,...,...,...
363,29972,SOME LITTLE SECRETS,Taylor Rose Rusen,"Booklocker.com, Inc.",YFB,[YX]
364,54145,Mother Osprey: Nursery Rhymes for Buoys and Gulls,Lucy Nolan,ARBORDALE PUB,YFQ,"[1KBB,YFP]"
365,1460,Sock City,Barbara Batchelor,Xlibris,YFQ,[]
366,38964,1001 Arabian Nights - The Complete Adventures ...,Anonymous,EL PASO NORTE PR,YFJ,[]
367,5733,Wilde Stories 2009,NaN,Lethe Press,DNT,[FL]

In [20]:
print(DF_1['itemID'].value_counts())

3583     1
47464    1
34978    1
62115    1
39076    1
        ..
59732    1
70997    1
53078    1
78314    1
39941    1
Name: itemID, Length: 368, dtype: int64

## 2 itemID not found in items CSV

In [21]:
#Create dataframe with itemID that are not found in both evaluation and items csv

notmatch_df_1 = evaluation[~evaluation.itemID.isin(DF_1.itemID)&(~evaluation.itemID.isin(match_df.itemID))]
notmatch_df_1

     itemID
281   37378
575   47675

In [22]:
#Verify whether these 2 itemID are in items

#Create dataframe
verify_df = pd.merge(items, notmatch_df_1, on=["itemID"])
verify_df

Empty DataFrame
Columns: [itemID, title, author, publisher, main topic, subtopics]
Index: []

In [23]:
#Add NaN to respective column
notmatch_df_1.loc[:, 'rec_1'] = 0
notmatch_df_1.loc[:, 'rec_2'] = 0
notmatch_df_1.loc[:, 'rec_3'] = 0
notmatch_df_1.loc[:, 'rec_4'] = 0
notmatch_df_1.loc[:, 'rec_5'] = 0

C:\Users\denis\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\denis\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [24]:
#notmatch_df_1.replace('NaN', np.nan)

In [25]:
notmatch_df_1

     itemID  rec_1  rec_2  rec_3  rec_4  rec_5
281   37378      0      0      0      0      0
575   47675      0      0      0      0      0

In [26]:
#Create CSV for this 
new_df_2 = notmatch_df_1.to_csv("not_match_df.csv", index=False)

## Both itemID are not found in items CSV
## So I create csv using "DF_1" with 368 rows

In [27]:
new_df = DF_1.to_csv("new_df.csv", index=False)

## Further optimize submission using new DF

In [28]:
new_df_features = pd.read_csv("new_df.csv")
new_df_submission =  pd.read_csv("new_df.csv")
new_df_submission = new_df_submission.drop(['main topic','subtopics','author','publisher'], axis=1)

In [29]:
new_df_submission

     itemID                                              title
0     75904                                     The Testaments
1     56300              Die Maus - Meine Kindergarten-Freunde
2       636    A Song of Ice and Fire 05. A Dance with Dragons
3     21276                                       Wilder Girls
4     48659                             Die Splitter der Macht
..      ...                                                ...
363   29972                                SOME LITTLE SECRETS
364   54145  Mother Osprey: Nursery Rhymes for Buoys and Gulls
365    1460                                          Sock City
366   38964  1001 Arabian Nights - The Complete Adventures ...
367    5733                                 Wilde Stories 2009

[368 rows x 2 columns]

In [30]:
def parseFeature(new_df_features):
    data = str(new_df_features["main topic"]) + ','
    data += str(new_df_features["subtopics"]) + ','
    x = data.replace('[','')
    y = x.replace(']','')
    return y

In [31]:
new_df_features['parsedFeatureStr'] = new_df_features.apply(parseFeature, axis = 1)

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer



vectorizer = TfidfVectorizer(min_df=3, max_features=None,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

In [33]:
parsedFeatureMatrix = vectorizer.fit_transform(new_df_features['parsedFeatureStr'])

In [34]:
parsedFeatureMatrix.shape

(368, 3)

In [35]:
from sklearn.metrics.pairwise import sigmoid_kernel 
from sklearn.metrics.pairwise import cosine_similarity 

sig = sigmoid_kernel(parsedFeatureMatrix, parsedFeatureMatrix)

In [36]:
indices = pd.Series(new_df_features.index, index = new_df_features['title'])
indices_df = pd.Series(new_df_features.index, index = new_df_features['title']).to_frame()

In [37]:
indices

title
The Testaments                                                                                        0
Die Maus - Meine Kindergarten-Freunde                                                                 1
A Song of Ice and Fire 05. A Dance with Dragons                                                       2
Wilder Girls                                                                                          3
Die Splitter der Macht                                                                                4
                                                                                                   ...
SOME LITTLE SECRETS                                                                                 363
Mother Osprey: Nursery Rhymes for Buoys and Gulls                                                   364
Sock City                                                                                           365
1001 Arabian Nights - The Complete Adventures of Sindbad, Aladdin and Ali Baba - Special Edition    366
Wilde Stories 2009                                                                                  367
Length: 368, dtype: int64

In [38]:
indices_df

                                                      0
title
The Testaments                                        0
Die Maus - Meine Kindergarten-Freunde                 1
A Song of Ice and Fire 05. A Dance with Dragons       2
Wilder Girls                                          3
Die Splitter der Macht                                4
...                                                 ...
SOME LITTLE SECRETS                                 363
Mother Osprey: Nursery Rhymes for Buoys and Gulls   364
Sock City                                           365
1001 Arabian Nights - The Complete Adventures o...  366
Wilde Stories 2009                                  367

[368 rows x 1 columns]

In [39]:
def recommender(title, sig=sig):
    index = indices[title]
    print(index)
    
    # get similarity scores
    sig_scores = list(enumerate(sig[index]))
    #sort by scores
    sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:6]
    
    #relate to book
    book_indices = [i[0] for i in sig_scores]
    
    return new_df_features['itemID'].iloc[book_indices]

In [40]:
def rec(new_df_submission, num):
    recommended_books = []
    recommender_df = recommender(new_df_submission['title']).to_frame()
    recommender_df = recommender_df.reset_index(drop=True)
    for ind,row in recommender_df.iterrows():
        recommended_books.append(row['itemID'])
        
    return recommended_books[num]

In [41]:
recommend = ['rec_1','rec_2','rec_3','rec_4','rec_5']
for i in range(0,5):
    key = recommend[i]
    new_df_submission[key] = new_df_submission.apply(rec,num=i, axis=1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367

In [42]:
new_df_submission = new_df_submission.drop(['title'], axis=1)

In [43]:
new_df_submission

     itemID  rec_1  rec_2  rec_3  rec_4  rec_5
0     75904  56300  62540  28466  10434  26396
1     56300  56300  62540  28466  10434  26396
2       636  67909  29708  67063  40017  11682
3     21276  77524  49099   6341  24087  57464
4     48659  31571  67219  39864  32126  70180
..      ...    ...    ...    ...    ...    ...
363   29972  67909  29708  67063  40017  11682
364   54145  31571  67219  39864  32126  70180
365    1460  67909  29708  67063  40017  11682
366   38964  67909  29708  67063  40017  11682
367    5733  67909  29708  67063  40017  11682

[368 rows x 6 columns]

In [44]:
new_df_submission = new_df_submission.to_csv("new_df_submission.csv", index=False)

## Combine CSV

In [45]:
csv_1 = pd.read_csv("match_df.csv")
csv_2 = pd.read_csv("new_df_submission.csv")
csv_3 = pd.read_csv("not_match_df.csv")

In [46]:
csv_3

   itemID  rec_1  rec_2  rec_3  rec_4  rec_5
0   37378      0      0      0      0      0
1   47675      0      0      0      0      0

In [47]:
#Replace column name rec1 to rec_1

csv_1 = csv_1.rename(columns = {'rec1': 'rec_1', 'rec2': 'rec_2', 'rec3': 'rec_3', 'rec4': 'rec_4', 'rec5': 'rec_5'}, inplace = False)

In [52]:
final_df = pd.DataFrame()

final_df = final_df.append(csv_1)
final_df = final_df.append(csv_2)
final_df = final_df.append(csv_3)

In [53]:
final_df.drop_duplicates(keep='first', inplace=True)
final_df

     itemID  rec_1  rec_2  rec_3  rec_4  rec_5
0        12  72603  11989  11117   3106  44220
1     45274  14576  73124  33976  63166  54393
2     41371  14576  73124  33976  63166  54393
3     14015  72603  11989  11117   3106  44220
4     70766  72603  11989  11117   3106  44220
..      ...    ...    ...    ...    ...    ...
365    1460  67909  29708  67063  40017  11682
366   38964  67909  29708  67063  40017  11682
367    5733  67909  29708  67063  40017  11682
0     37378      0      0      0      0      0
1     47675      0      0      0      0      0

[1000 rows x 6 columns]

In [54]:
final_df = final_df.reset_index()

In [56]:
final_df = final_df.drop(['index'], axis=1)
final_df

     itemID  rec_1  rec_2  rec_3  rec_4  rec_5
0        12  72603  11989  11117   3106  44220
1     45274  14576  73124  33976  63166  54393
2     41371  14576  73124  33976  63166  54393
3     14015  72603  11989  11117   3106  44220
4     70766  72603  11989  11117   3106  44220
..      ...    ...    ...    ...    ...    ...
995    1460  67909  29708  67063  40017  11682
996   38964  67909  29708  67063  40017  11682
997    5733  67909  29708  67063  40017  11682
998   37378      0      0      0      0      0
999   47675      0      0      0      0      0

[1000 rows x 6 columns]

In [ ]:
#Merge 

verify_df = pd.merge(evaluation, final_df)

In [57]:
final_submission = final_df.to_csv("Uni_Asia_Pacific_1.csv", index=False)