In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import csv

In [2]:
transaction = pd.read_csv("transactions.csv", delimiter="|")
items = pd.read_csv("items.csv", delimiter="|")

In [3]:
transaction.head()

   sessionID  itemID  click  basket  order
0          0   21310      1       0      0
1          1   73018      1       0      0
2          2   19194      1       0      0
3          3   40250      1       0      0
4          4   46107      1       0      0

In [4]:
print(transaction.shape)
print(items.shape)

(365143, 5)
(78030, 6)

In [5]:
data = pd.merge(items, transaction, on=["itemID"], how="outer")

In [6]:
data.shape

(418264, 10)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418264 entries, 0 to 418263
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   itemID      418264 non-null  int64
 1   title       418264 non-null  object
 2   author      375707 non-null  object
 3   publisher   418255 non-null  object
 4   main topic  417239 non-null  object
 5   subtopics   418263 non-null  object
 6   sessionID   365143 non-null  float64
 7   click       365143 non-null  float64
 8   basket      365143 non-null  float64
 9   order       365143 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 35.1+ MB

In [8]:
# choosing Target variable
#print(inner_merged_total['basket'].value_counts())
#print(inner_merged_total['click'].value_counts())
print(data['order'].value_counts())

0.0     348237
1.0      16593
2.0        255
3.0         18
5.0          7
4.0          7
21.0         4
27.0         2
25.0         2
12.0         2
7.0          2
11.0         2
10.0         2
28.0         1
15.0         1
14.0         1
19.0         1
22.0         1
23.0         1
26.0         1
20.0         1
6.0          1
13.0         1
Name: order, dtype: int64

In [9]:
data.head()
#print(inner_merged_total['Interest'].value_counts())

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0

In [10]:
##generate frequency
test = data.value_counts(['itemID']).reset_index(name='Frequency')
print(test.head())

   itemID  Frequency
0   58522       2291
1   66247       1775
2   10666       1749
3   44220       1687
4   69185       1290

In [11]:
#Merging frequency 
book_data = pd.merge(data, test, on=["itemID"])
book_data.head()

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Frequency
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,3
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,3
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,3
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,59
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,59

In [12]:
#remove dupicate rows 
print(book_data.shape)
# book_data.drop_duplicates(subset ="itemID", keep='first' ,inplace=True)
# print(book_data.shape)

(418264, 11)

In [13]:
book_data["itemID"].value_counts()

58522    2291
66247    1775
10666    1749
44220    1687
69185    1290
         ...
51385       1
49336       1
47287       1
43189       1
0           1
Name: itemID, Length: 78030, dtype: int64

In [14]:
book_data.head()

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Frequency
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,3
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,3
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,3
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,59
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,59

In [15]:
book_rating= book_data.copy()
book_rating = book_rating.drop(['sessionID','author','publisher'], axis=1)

In [16]:
import numpy as np
book_rating['log_frequency'] = np.log(book_data['Frequency'])

In [17]:
print(book_rating['log_frequency'].value_counts())

0.000000    60613
0.693147     7318
1.098612     6471
1.386294     6292
1.609438     5705
            ...
5.214936      184
5.176150      177
5.164786      175
5.087596      162
4.969813      144
Name: log_frequency, Length: 373, dtype: int64

In [18]:
book_rating['basket'].value_counts()

0.0      320155
1.0       42193
2.0        2315
3.0         273
4.0          66
5.0          25
7.0          14
10.0         13
6.0          13
11.0          6
20.0          5
24.0          5
14.0          5
23.0          4
8.0           4
21.0          4
9.0           4
15.0          3
28.0          3
25.0          3
38.0          2
36.0          2
26.0          2
65.0          2
119.0         2
287.0         1
48.0          1
30.0          1
293.0         1
150.0         1
268.0         1
80.0          1
12.0          1
52.0          1
43.0          1
58.0          1
16.0          1
182.0         1
18.0          1
98.0          1
51.0          1
100.0         1
29.0          1
22.0          1
13.0          1
Name: basket, dtype: int64

In [19]:
bin_labels_5 = ['E','D','C', 'B', 'A']
book_rating['Grade'] = pd.qcut(book_rating['log_frequency'],
                              q=[0, .2, .4, .6, .8, 1],
                              labels=bin_labels_5, duplicates='drop')
book_rating

,itemID,title,main topic,subtopics,click,basket,order,Frequency,log_frequency,Grade
0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],1.0,0.0,0.0,3,1.098612,E
1,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],1.0,0.0,0.0,3,1.098612,E
2,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],1.0,0.0,0.0,3,1.098612,E
3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,0.0,0.0,59,4.077537,C
4,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,0.0,0.0,59,4.077537,C
...,...,...,...,...,...,...,...,...,...,...
418259,37678,Timeless Fairy Tales,YFA,[YFJ],NaN,NaN,NaN,1,0.000000,E
418260,68688,Demon Games,FMB,[],NaN,NaN,NaN,1,0.000000,E
418261,57291,Lori and the Lion's Den,YFU,[],NaN,NaN,NaN,1,0.000000,E
418262,78130,The Everywhere Armchair,YFC,"[YFG,YFH]",NaN,NaN,NaN,1,0.000000,E
418263,68789,The Light Voyager,FL,[],NaN,NaN,NaN,1,0.000000,E

In [20]:
book_rating.drop_duplicates(subset ="title", keep='first' ,inplace=True)

In [21]:
book_rating.reset_index()

,index,itemID,title,main topic,subtopics,click,basket,order,Frequency,log_frequency,Grade
0,0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],1.0,0.0,0.0,3,1.098612,E
1,3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,0.0,0.0,59,4.077537,C
2,62,19194,Red Queen 1,YFH,"[5AP,FBA]",1.0,0.0,0.0,186,5.225747,B
3,248,40250,Meine Kindergarten-Freunde (Pirat),YB,"[5AC,5AD,YBG,YBL,YF]",1.0,0.0,0.0,339,5.826000,A
4,587,46107,Mein großes Schablonen-Buch - Wilde Tiere,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",1.0,0.0,0.0,25,3.218876,D
...,...,...,...,...,...,...,...,...,...,...,...
72123,418259,37678,Timeless Fairy Tales,YFA,[YFJ],NaN,NaN,NaN,1,0.000000,E
72124,418260,68688,Demon Games,FMB,[],NaN,NaN,NaN,1,0.000000,E
72125,418261,57291,Lori and the Lion's Den,YFU,[],NaN,NaN,NaN,1,0.000000,E
72126,418262,78130,The Everywhere Armchair,YFC,"[YFG,YFH]",NaN,NaN,NaN,1,0.000000,E
72127,418263,68789,The Light Voyager,FL,[],NaN,NaN,NaN,1,0.000000,E

In [22]:
##data cleaning
values = {'basket': 0, 'order': 0,'click':0}
book_rating = book_rating.fillna(value=values)

In [23]:
#calculate relevance score

def relevance(book_rating):
    if (book_rating['order'] != 0.0 and book_rating['basket'] != 0.0):
        return "A"
    elif (book_rating['order'] != 0.0 and  book_rating['basket'] == 0.0):
        return "B"
    elif (book_rating['order'] == 0.0 and  book_rating['basket'] != 0.0):
        return "C"
    else:
        return "D"
    

book_rating['relevance_score'] = book_rating.apply(relevance, axis = 1)

# Split data based on Frequency

In [24]:
##relevant book
book_rating_G = book_rating[book_rating['relevance_score'] != "D"]
print(book_rating_G.shape)

## books arent transacted pt 1
book_rating_B1 = book_rating[book_rating['relevance_score'] == "D"]
book_rating_B1 = book_rating_B1.head(34602)
print(book_rating_B1.shape)

## books arent transacted pt 2
book_rating_B2 = book_rating_B1.tail(34602)
print(book_rating_B2.shape)

(2924, 11)
(34602, 11)
(34602, 11)

# Matrix part 1

In [ ]:
#creating combined target feature
def parseFeatureA(book_rating_G):
    data = str(book_rating_G["main topic"]) + ','
    data += str(book_rating_G["subtopics"]) + ','
    data += str(book_rating_G["Grade"]) + ','
    data += str(book_rating_G["relevance_score"])
    x = data.replace('[','')
    y = x.replace(']','')
    return y

In [ ]:
book_rating_G['parsedFeatureStr'] = book_rating_G.apply(parseFeatureA, axis = 1)

In [ ]:
book_rating_G.head(5)

In [ ]:
book_rating_G = book_rating_G.reset_index(drop=True)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer



vectorizer = TfidfVectorizer(min_df=3, max_features=None,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

In [ ]:
parsedFeatureMatrix = vectorizer.fit_transform(book_rating_G['parsedFeatureStr'])

In [ ]:
parsedFeatureMatrix

In [ ]:
parsedFeatureMatrix.shape

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel 
from sklearn.metrics.pairwise import cosine_similarity 

sig = sigmoid_kernel(parsedFeatureMatrix, parsedFeatureMatrix)
# cos = cosine_similarity(parsedFeatureMatrix, parsedFeatureMatrix)

In [ ]:
indices = pd.Series(book_rating_G.index, index = book_rating_G['title'])

In [ ]:
indices_df = pd.Series(book_rating_G.index, index = book_rating_G['title']).to_frame()

In [ ]:
indices_itemID_mapping = pd.merge(indices_df, book_rating_G, on=["title"])

In [ ]:
indices_itemID_mapping = indices_itemID_mapping.drop(['index'], axis=1)

In [ ]:
indices_itemID_mapping
# print(indices_df)

In [ ]:
def recommender(title, sig=sig):
    index = indices[title]
    print(index)
    
    # get similarity scores
    sig_scores = list(enumerate(sig[index]))
    #sort by scores
    sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:6]
    
    #relate to book
    book_indices = [i[0] for i in sig_scores]
    
    return book_rating['itemID'].iloc[book_indices]

In [ ]:
recommender_df = recommender('Unsterblich 01 - Tor der Dämmerung').to_frame()

In [ ]:
recommender_df

## Populate evaluation DF Part 1

In [42]:
## Use Evaluation dataset to recommend 5 itemID

evaluation_df = pd.read_csv("evaluation.csv", delimiter="|")

evaluation_df

     itemID
0        12
1     45274
2     10104
3     41371
4     14015
..      ...
995   78384
996   68157
997   44964
998   12971
999   41078

[1000 rows x 1 columns]

In [ ]:
title_df = book_rating_G.drop(['basket','order','main topic','subtopics','log_frequency','Grade', 'relevance_score', 'click','Frequency'], axis=1)
title_df

In [ ]:
submission_df_p1 = pd.merge(evaluation_df, title_df, on=["itemID"]) 
# submission_df_p1 = submission_df_p1.drop(['author','publisher','main topic','subtopics'], axis=1)
# submission_df_p1 = submission_df_p1.drop('index')
submission_df_p1.reset_index(drop=True, inplace=True)

In [ ]:
submission_df_p1 = submission_df_p1.drop("parsedFeatureStr", axis=1)
submission_df_p1

In [ ]:
recommender_df = recommender('Einfach zeichnen! Step by Step').to_frame()

In [ ]:
def rec(submission_df_p1, num):
    recommended_books = []
    recommender_df = recommender(submission_df_p1['title']).to_frame()
    recommender_df = recommender_df.reset_index(drop=True)
    for ind,row in recommender_df.iterrows():
        recommended_books.append(row['itemID'])
        
    return recommended_books[num]

In [ ]:
recommend = ['rec1','rec2','rec3','rec4','rec5']
for i in range(0,5):
    key = recommend[i]
    submission_df_p1[key] = submission_df_p1.apply(rec,num=i, axis=1)

In [ ]:
submission_df_p1.head()

In [ ]:
submission_df_p1 = submission_df_p1.drop("title", axis=1)

In [ ]:
Export_csv_p1 = submission_df_p1.to_csv("submission_df_p1.csv", index=False)

## Matrix Part 2

In [ ]:
#creating combined target feature
def parseFeatureB1(book_rating_B1):
    data = str(book_rating_B1["main topic"]) + ','
    data += str(book_rating_B1["subtopics"]) + ','
    data += str(book_rating_B1["Grade"]) + ','
    data += str(book_rating_B1["relevance_score"])
    x = data.replace('[','')
    y = x.replace(']','')
    return y

In [ ]:
book_rating_B1.head(5)

In [ ]:
book_rating_B1['parsedFeatureStr'] = book_rating_B1.apply(parseFeatureB1, axis = 1)

In [ ]:
book_rating_B1 = book_rating_B1.reset_index(drop=True)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer



vectorizer = TfidfVectorizer(min_df=3, max_features=None,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

In [ ]:
parsedFeatureMatrix = vectorizer.fit_transform(book_rating_B1['parsedFeatureStr'])

In [ ]:
parsedFeatureMatrix.shape

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel 
from sklearn.metrics.pairwise import cosine_similarity 

sig = sigmoid_kernel(parsedFeatureMatrix, parsedFeatureMatrix)

In [ ]:
indices = pd.Series(book_rating_B1.index, index = book_rating_B1['title'])

In [ ]:
indices_df = pd.Series(book_rating_B1.index, index = book_rating_B1['title']).to_frame()

In [ ]:
indices_itemID_mapping = pd.merge(indices_df, book_rating_B1, on=["title"])

In [ ]:
indices_itemID_mapping = indices_itemID_mapping.drop(['index'], axis=1)

In [ ]:
indices_itemID_mapping

In [ ]:
def recommender(title, sig=sig):
    index = indices[title]
    print(index)
    
    # get similarity scores
    sig_scores = list(enumerate(sig[index]))
    #sort by scores
    sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:6]
    
    #relate to book
    book_indices = [i[0] for i in sig_scores]
    
    return book_rating['itemID'].iloc[book_indices]

In [ ]:
recommender_df = recommender('Einfach zeichnen! Step by Step').to_frame()

In [ ]:
recommender_df

## Populate evaluation DF Part 2

In [ ]:
evaluation_df

In [ ]:
title_df = book_rating_B1.drop(['basket','order','main topic','subtopics','log_frequency','Grade', 'relevance_score', 'click','Frequency'], axis=1)
title_df

In [ ]:
submission_df_p2 = pd.merge(evaluation_df, title_df, on=["itemID"]) 
# submission_df_p1 = submission_df_p1.drop(['author','publisher','main topic','subtopics'], axis=1)
# submission_df_p1 = submission_df_p1.drop('index')
submission_df_p2.reset_index(drop=True, inplace=True)

In [ ]:
def rec2(submission_df_p2, num):
    recommended_books = []
    recommender_df = recommender(submission_df_p2['title']).to_frame()
    recommender_df = recommender_df.reset_index(drop=True)
    for ind,row in recommender_df.iterrows():
        recommended_books.append(row['itemID'])
        
    return recommended_books[num]

In [ ]:
recommend = ['rec1','rec2','rec3','rec4','rec5']
for i in range(0,5):
    key = recommend[i]
    submission_df_p2[key] = submission_df_p2.apply(rec,num=i, axis=1)

In [ ]:
submission_df_p2 = submission_df_p2.drop(['title','parsedFeatureStr'], axis=1)

In [ ]:
submission_df_p2

In [ ]:
Export_csv_p2 = submission_df_p2.to_csv("submission_df_p2.csv", index=False)

## Matrix part 3

In [25]:
#creating combined target feature
def parseFeatureB2(book_rating_B2):
    data = str(book_rating_B2["main topic"]) + ','
    data += str(book_rating_B2["subtopics"]) + ','
    data += str(book_rating_B2["Grade"]) + ','
    data += str(book_rating_B2["relevance_score"])
    x = data.replace('[','')
    y = x.replace(']','')
    return y

In [26]:
book_rating_B2.head(5)

,itemID,title,main topic,subtopics,click,basket,order,Frequency,log_frequency,Grade,relevance_score
0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],1.0,0.0,0.0,3,1.098612,E,D
3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,0.0,0.0,59,4.077537,C,D
62,19194,Red Queen 1,YFH,"[5AP,FBA]",1.0,0.0,0.0,186,5.225747,B,D
248,40250,Meine Kindergarten-Freunde (Pirat),YB,"[5AC,5AD,YBG,YBL,YF]",1.0,0.0,0.0,339,5.826000,A,D
587,46107,Mein großes Schablonen-Buch - Wilde Tiere,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",1.0,0.0,0.0,25,3.218876,D,D

In [27]:
book_rating_B2['parsedFeatureStr'] = book_rating_B2.apply(parseFeatureB2, axis = 1)

C:\Users\user\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
book_rating_B2 = book_rating_B2.reset_index(drop=True)

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer



vectorizer = TfidfVectorizer(min_df=3, max_features=None,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

In [30]:
parsedFeatureMatrix = vectorizer.fit_transform(book_rating_B2['parsedFeatureStr'])

In [31]:
parsedFeatureMatrix.shape

(34602, 3)

In [32]:
from sklearn.metrics.pairwise import sigmoid_kernel 
from sklearn.metrics.pairwise import cosine_similarity 

sig = sigmoid_kernel(parsedFeatureMatrix, parsedFeatureMatrix)

In [33]:
indices = pd.Series(book_rating_B2.index, index = book_rating_B2['title'])

In [34]:
indices_df = pd.Series(book_rating_B2.index, index = book_rating_B2['title']).to_frame()

In [35]:
indices_itemID_mapping = pd.merge(indices_df, book_rating_B2, on=["title"])

In [ ]:
indices_itemID_mapping = indices_itemID_mapping.drop(['index'], axis=1)

In [37]:
indices_itemID_mapping

,title,0,itemID,main topic,subtopics,click,basket,order,Frequency,log_frequency,Grade,relevance_score,parsedFeatureStr
0,Princess Poppy: The Big Mix Up,0,21310,YFB,[5AH],1.0,0.0,0.0,3,1.098612,E,D,"YFB,5AH,E,D"
1,Einfach zeichnen! Step by Step,1,73018,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,0.0,0.0,59,4.077537,C,D,"AGZ,5AJ,AGZ,WFA,YBG,YBL,YNA,YPA,C,D"
2,Red Queen 1,2,19194,YFH,"[5AP,FBA]",1.0,0.0,0.0,186,5.225747,B,D,"YFH,5AP,FBA,B,D"
3,Meine Kindergarten-Freunde (Pirat),3,40250,YB,"[5AC,5AD,YBG,YBL,YF]",1.0,0.0,0.0,339,5.826000,A,D,"YB,5AC,5AD,YBG,YBL,YF,A,D"
4,Mein großes Schablonen-Buch - Wilde Tiere,4,46107,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",1.0,0.0,0.0,25,3.218876,D,D,"WFTM,WD,WFTM,YBG,YBL,YBLD,YBLN1,D,D"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34597,Daisy Dreamer and the Totally True Imaginary F...,34597,30217,YXHB,[YFH],0.0,0.0,0.0,1,0.000000,E,D,"YXHB,YFH,E,D"
34598,"Violet Fairy Gets Her Wings, Volume 1",34598,60358,YFH,[YFP],0.0,0.0,0.0,1,0.000000,E,D,"YFH,YFP,E,D"
34599,Little Red,34599,27901,YXE,[YF],0.0,0.0,0.0,1,0.000000,E,D,"YXE,YF,E,D"
34600,Aries,34600,78748,FM,[],0.0,0.0,0.0,1,0.000000,E,D,"FM,,E,D"
34601,Huevorái,34601,19279,YFC,[],0.0,0.0,0.0,1,0.000000,E,D,"YFC,,E,D"

In [38]:
def recommender(title, sig=sig):
    index = indices[title]
    print(index)
    
    # get similarity scores
    sig_scores = list(enumerate(sig[index]))
    #sort by scores
    sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:6]
    
    #relate to book
    book_indices = [i[0] for i in sig_scores]
    
    return book_rating['itemID'].iloc[book_indices]

In [39]:
recommender_df = recommender('Einfach zeichnen! Step by Step').to_frame()

1

In [40]:
recommender_df

       itemID
944      2408
1850    73865
1852    15581
9849    65865
12093   30497

## Populate evaluation DF Part 3

In [43]:
evaluation_df

     itemID
0        12
1     45274
2     10104
3     41371
4     14015
..      ...
995   78384
996   68157
997   44964
998   12971
999   41078

[1000 rows x 1 columns]

In [44]:
title_df = book_rating_B2.drop(['basket','order','main topic','subtopics','log_frequency','Grade', 'relevance_score', 'click','Frequency'], axis=1)
title_df

,itemID,title,parsedFeatureStr
0,21310,Princess Poppy: The Big Mix Up,"YFB,5AH,E,D"
1,73018,Einfach zeichnen! Step by Step,"AGZ,5AJ,AGZ,WFA,YBG,YBL,YNA,YPA,C,D"
2,19194,Red Queen 1,"YFH,5AP,FBA,B,D"
3,40250,Meine Kindergarten-Freunde (Pirat),"YB,5AC,5AD,YBG,YBL,YF,A,D"
4,46107,Mein großes Schablonen-Buch - Wilde Tiere,"WFTM,WD,WFTM,YBG,YBL,YBLD,YBLN1,D,D"
...,...,...,...
34597,30217,Daisy Dreamer and the Totally True Imaginary F...,"YXHB,YFH,E,D"
34598,60358,"Violet Fairy Gets Her Wings, Volume 1","YFH,YFP,E,D"
34599,27901,Little Red,"YXE,YF,E,D"
34600,78748,Aries,"FM,,E,D"
34601,19279,Huevorái,"YFC,,E,D"

In [45]:
submission_df_p3 = pd.merge(evaluation_df, title_df, on=["itemID"]) 
# submission_df_p1 = submission_df_p1.drop(['author','publisher','main topic','subtopics'], axis=1)
# submission_df_p1 = submission_df_p1.drop('index')
submission_df_p3.reset_index(drop=True, inplace=True)

In [48]:
def rec3(submission_df_p3, num):
    recommended_books = []
    recommender_df = recommender(submission_df_p3['title']).to_frame()
    recommender_df = recommender_df.reset_index(drop=True)
    for ind,row in recommender_df.iterrows():
        recommended_books.append(row['itemID'])
        
    return recommended_books[num]

In [49]:
recommend = ['rec1','rec2','rec3','rec4','rec5']
for i in range(0,5):
    key = recommend[i]
    submission_df_p3[key] = submission_df_p3.apply(rec3,num=i, axis=1)

22161
29908
16089
25314
14942
13389
4642
6959
219
19957
20499
21787
18786
7270
7436
26839
13900
10876
16503
20408
294
15433
14306
17676
32085
153
187
5061
15647
25065
8288
9755
10395
23121
17645
19776
4828
20401
2847
4262
2845
11932
13511
898
30865
25665
25048
23345
33483
17555
19094
137
26666
3858
10479
22710
16554
2820
4622
2875
14353
34056
9038
25831
27828
3616
31274
13704
5334
12765
9394
14922
20510
27428
3215
20608
32404
9053
28574
19423
5815
20556
29046
13057
8600
9173
19832
11232
32969
8445
15308
33438
5965
24282
18606
6831
21206
9115
19672
33019
9972
31377
21717
2961
29718
10269
10073
3252
8736
5927
13539
28469
4424
26739
25104
16861
17066
34
9728
31704
11592
13472
6551
27733
4711
3970
22909
18043
9680
29445
5150
6753
34591
23140
34086
29092
2712
7023
15268
6666
19996
18752
4766
10795
9837
29308
15839
10113
16185
489
18533
10681
12408
15673
20808
4243
11611
4666
8060
679
28757
20706
360
3843
21085
12172
12504
6621
1154
8144
5200
28829
24152
14534
30766
32738
296
32553
20199
13970
20570
6171
13675
11921
6560
923
3408
19829
6328
26050
17579
14133
1386
7916
11130
4496
2399
13399
20379
3793
33476
30061
13770
4773
19755
6188
16327
10945
11530
27172
7194
2383
12824
34330
1572
21403
31039
28238
6739
2490
12952
27853
13274
31462
1434
29506
31962
6105
8722
17362
16485
17959
4345
7022
1646
11966
29274
20177
10766
7803
24317
10473
33078
27729
140
13092
19010
34267
15865
3422
29168
9069
33428
2157
10553
23176
4012
11352
24446
18690
11850
29928
24475
12516
9391
21256
22802
12640
32611
14579
4863
6511
19784
10877
7676
24664
18665
8732
8171
28535
28011
5041
6086
18332
2491
7134
21072
14464
13291
6889
18339
363
32386
8963
9957
33110
13381
32488
1349
7553
1111
28503
18206
17608
2249
5789
16049
20419
28994
12336
14859
1744
11230
20320
19771
1567
12018
19797
5845
17404
21844
24435
6413
17549
25589
26801
16423
1338
1469
16042
11954
20767
25863
20144
14735
3453
921
16372
23676
5145
15677
5998
27870
24069
6642
20277
4260
7005
10093
11706
19406
8334
3034
33873
17361
1278
4871
1844
26881
1754
3841
20993
11876
28108
26816
10055
18204
7966
33620
17459
4405
5100
24021
16255
9632
10422
16704
13131
8860
29841
34384
31518
7485
18537
14013
22845
33632
6674
8045
34039
6869
10118
17529
12589
630
13771
19504
33787
12506
16720
4720
6210
1374
28317
24401
3714
34191
4530
972
15410
4747
7892
21331
16723
17385
4398
11236
11138
9252
15305
8074
3384
1008
9120
5146
7888
14312
15709
7661
5779
4981
14997
25696
16870
18706
12951
8420
3768
31985
6437
6810
2958
14672
32018
17986
3103
19590
12673
17693
15109
34218
7015
21298
30423
19486
2083
26411
11505
12792
7103
7968
29327
4669
6910
4576
25242
3448
17726
28040
8231
1618
22106
21445
5174
17853
25955
23729
3129
26845
8992
29080
13930
9044
16904
18591
23333
23496
3946
21917
17717
26180
9121
11179
11383
15795
8551
14000
19622
22088
6615
16906
21035
14918
9580
31279
32751
33742
3550
6649
2440
11469
1667
21880
9059
17822
27598
20274
4406
12975
3831
7921
15559
13272
6074
54
22095
30732
9012
9819
19908
10599
1095
519
8498
3504
21773
24592
9547
27493
12716
16460
10211
33491
29926
26511
8202
20798
3611
15591
7391
18584
26682
13470
192
20590
696
9112
15449
22161
29908
16089
25314
14942
13389
4642
6959
219
19957
20499
21787
18786
7270
7436
26839
13900
10876
16503
20408
294
15433
14306
17676
32085
153
187
5061
15647
25065
8288
9755
10395
23121
17645
19776
4828
20401
2847
4262
2845
11932
13511
898
30865
25665
25048
23345
33483
17555
19094
137
26666
3858
10479
22710
16554
2820
4622
2875
14353
34056
9038
25831
27828
3616
31274
13704
5334
12765
9394
14922
20510
27428
3215
20608
32404
9053
28574
19423
5815
20556
29046
13057
8600
9173
19832
11232
32969
8445
15308
33438
5965
24282
18606
6831
21206
9115
19672
33019
9972
31377
21717
2961
29718
10269
10073
3252
8736
5927
13539
28469
4424
26739
25104
16861
17066
34
9728
31704
11592
13472
6551
27733
4711
3970
22909
18043
9680
29445
5150
6753
34591
23140
34086
29092
2712
7023
15268
6666
19996
18752
4766
10795
9837
29308
15839
10113
16185
489
18533
10681
12408
15673
20808
4243
11611
4666
8060
679
28757
20706
360
3843
21085
12172
12504
6621
1154
8144
5200
28829
24152
14534
30766
32738
296
32553
20199
13970
20570
6171
13675
11921
6560
923
3408
19829
6328
26050
17579
14133
1386
7916
11130
4496
2399
13399
20379
3793
33476
30061
13770
4773
19755
6188
16327
10945
11530
27172
7194
2383
12824
34330
1572
21403
31039
28238
6739
2490
12952
27853
13274
31462
1434
29506
31962
6105
8722
17362
16485
17959
4345
7022
1646
11966
29274
20177
10766
7803
24317
10473
33078
27729
140
13092
19010
34267
15865
3422
29168
9069
33428
2157
10553
23176
4012
11352
24446
18690
11850
29928
24475
12516
9391
21256
22802
12640
32611
14579
4863
6511
19784
10877
7676
24664
18665
8732
8171
28535
28011
5041
6086
18332
2491
7134
21072
14464
13291
6889
18339
363
32386
8963
9957
33110
13381
32488
1349
7553
1111
28503
18206
17608
2249
5789
16049
20419
28994
12336
14859
1744
11230
20320
19771
1567
12018
19797
5845
17404
21844
24435
6413
17549
25589
26801
16423
1338
1469
16042
11954
20767
25863
20144
14735
3453
921
16372
23676
5145
15677
5998
27870
24069
6642
20277
4260
7005
10093
11706
19406
8334
3034
33873
17361
1278
4871
1844
26881
1754
3841
20993
11876
28108
26816
10055
18204
7966
33620
17459
4405
5100
24021
16255
9632
10422
16704
13131
8860
29841
34384
31518
7485
18537
14013
22845
33632
6674
8045
34039
6869
10118
17529
12589
630
13771
19504
33787
12506
16720
4720
6210
1374
28317
24401
3714
34191
4530
972
15410
4747
7892
21331
16723
17385
4398
11236
11138
9252
15305
8074
3384
1008
9120
5146
7888
14312
15709
7661
5779
4981
14997
25696
16870
18706
12951
8420
3768
31985
6437
6810
2958
14672
32018
17986
3103
19590
12673
17693
15109
34218
7015
21298
30423
19486
2083
26411
11505
12792
7103
7968
29327
4669
6910
4576
25242
3448
17726
28040
8231
1618
22106
21445
5174
17853
25955
23729
3129
26845
8992
29080
13930
9044
16904
18591
23333
23496
3946
21917
17717
26180
9121
11179
11383
15795
8551
14000
19622
22088
6615
16906
21035
14918
9580
31279
32751
33742
3550
6649
2440
11469
1667
21880
9059
17822
27598
20274
4406
12975
3831
7921
15559
13272
6074
54
22095
30732
9012
9819
19908
10599
1095
519
8498
3504
21773
24592
9547
27493
12716
16460
10211
33491
29926
26511
8202
20798
3611
15591
7391
18584
26682
13470
192
20590
696
9112
15449
22161
29908
16089
25314
14942
13389
4642
6959
219
19957
20499
21787
18786
7270
7436
26839
13900
10876
16503
20408
294
15433
14306
17676
32085
153
187
5061
15647
25065
8288
9755
10395
23121
17645
19776
4828
20401
2847
4262
2845
11932
13511
898
30865
25665
25048
23345
33483
17555
19094
137
26666
3858
10479
22710
16554
2820
4622
2875
14353
34056
9038
25831
27828
3616
31274
13704
5334
12765
9394
14922
20510
27428
3215
20608
32404
9053
28574
19423
5815
20556
29046
13057
8600
9173
19832
11232
32969
8445
15308
33438
5965
24282
18606
6831
21206
9115
19672
33019
9972
31377
21717
2961
29718
10269
10073
3252
8736
5927
13539
28469
4424
26739
25104
16861
17066
34
9728
31704
11592
13472
6551
27733
4711
3970
22909
18043
9680
29445
5150
6753
34591
23140
34086
29092
2712
7023
15268
6666
19996
18752
4766
10795
9837
29308
15839
10113
16185
489
18533
10681
12408
15673
20808
4243
11611
4666
8060
679
28757
20706
360
3843
21085
12172
12504
6621
1154
8144
5200
28829
24152
14534
30766
32738
296
32553
20199
13970
20570
6171
13675
11921
6560
923
3408
19829
6328
26050
17579
14133
1386
7916
11130
4496
2399
13399
20379
3793
33476
30061
13770
4773
19755
6188
16327
10945
11530
27172
7194
2383
12824
34330
1572
21403
31039
28238
6739
2490
12952
27853
13274
31462
1434
29506
31962
6105
8722
17362
16485
17959
4345
7022
1646
11966
29274
20177
10766
7803
24317
10473
33078
27729
140
13092
19010
34267
15865
3422
29168
9069
33428
2157
10553
23176
4012
11352
24446
18690
11850
29928
24475
12516
9391
21256
22802
12640
32611
14579
4863
6511
19784
10877
7676
24664
18665
8732
8171
28535
28011
5041
6086
18332
2491
7134
21072
14464
13291
6889
18339
363
32386
8963
9957
33110
13381
32488
1349
7553
1111
28503
18206
17608
2249
5789
16049
20419
28994
12336
14859
1744
11230
20320
19771
1567
12018
19797
5845
17404
21844
24435
6413
17549
25589
26801
16423
1338
1469
16042
11954
20767
25863
20144
14735
3453
921
16372
23676
5145
15677
5998
27870
24069
6642
20277
4260
7005
10093
11706
19406
8334
3034
33873
17361
1278
4871
1844
26881
1754
3841
20993
11876
28108
26816
10055
18204
7966
33620
17459
4405
5100
24021
16255
9632
10422
16704
13131
8860
29841
34384
31518
7485
18537
14013
22845
33632
6674
8045
34039
6869
10118
17529
12589
630
13771
19504
33787
12506
16720
4720
6210
1374
28317
24401
3714
34191
4530
972
15410
4747
7892
21331
16723
17385
4398
11236
11138
9252
15305
8074
3384
1008
9120
5146
7888
14312
15709
7661
5779
4981
14997
25696
16870
18706
12951
8420
3768
31985
6437
6810
2958
14672
32018
17986
3103
19590
12673
17693
15109
34218
7015
21298
30423
19486
2083
26411
11505
12792
7103
7968
29327
4669
6910
4576
25242
3448
17726
28040
8231
1618
22106
21445
5174
17853
25955
23729
3129
26845
8992
29080
13930
9044
16904
18591
23333
23496
3946
21917
17717
26180
9121
11179
11383
15795
8551
14000
19622
22088
6615
16906
21035
14918
9580
31279
32751
33742
3550
6649
2440
11469
1667
21880
9059
17822
27598
20274
4406
12975
3831
7921
15559
13272
6074
54
22095
30732
9012
9819
19908
10599
1095
519
8498
3504
21773
24592
9547
27493
12716
16460
10211
33491
29926
26511
8202
20798
3611
15591
7391
18584
26682
13470
192
20590
696
9112
15449
22161
29908
16089
25314
14942
13389
4642
6959
219
19957
20499
21787
18786
7270
7436
26839
13900
10876
16503
20408
294
15433
14306
17676
32085
153
187
5061
15647
25065
8288
9755
10395
23121
17645
19776
4828
20401
2847
4262
2845
11932
13511
898
30865
25665
25048
23345
33483
17555
19094
137
26666
3858
10479
22710
16554
2820
4622
2875
14353
34056
9038
25831
27828
3616
31274
13704
5334
12765
9394
14922
20510
27428
3215
20608
32404
9053
28574
19423
5815
20556
29046
13057
8600
9173
19832
11232
32969
8445
15308
33438
5965
24282
18606
6831
21206
9115
19672
33019
9972
31377
21717
2961
29718
10269
10073
3252
8736
5927
13539
28469
4424
26739
25104
16861
17066
34
9728
31704
11592
13472
6551
27733
4711
3970
22909
18043
9680
29445
5150
6753
34591
23140
34086
29092
2712
7023
15268
6666
19996
18752
4766
10795
9837
29308
15839
10113
16185
489
18533
10681
12408
15673
20808
4243
11611
4666
8060
679
28757
20706
360
3843
21085
12172
12504
6621
1154
8144
5200
28829
24152
14534
30766
32738
296
32553
20199
13970
20570
6171
13675
11921
6560
923
3408
19829
6328
26050
17579
14133
1386
7916
11130
4496
2399
13399
20379
3793
33476
30061
13770
4773
19755
6188
16327
10945
11530
27172
7194
2383
12824
34330
1572
21403
31039
28238
6739
2490
12952
27853
13274
31462
1434
29506
31962
6105
8722
17362
16485
17959
4345
7022
1646
11966
29274
20177
10766
7803
24317
10473
33078
27729
140
13092
19010
34267
15865
3422
29168
9069
33428
2157
10553
23176
4012
11352
24446
18690
11850
29928
24475
12516
9391
21256
22802
12640
32611
14579
4863
6511
19784
10877
7676
24664
18665
8732
8171
28535
28011
5041
6086
18332
2491
7134
21072
14464
13291
6889
18339
363
32386
8963
9957
33110
13381
32488
1349
7553
1111
28503
18206
17608
2249
5789
16049
20419
28994
12336
14859
1744
11230
20320
19771
1567
12018
19797
5845
17404
21844
24435
6413
17549
25589
26801
16423
1338
1469
16042
11954
20767
25863
20144
14735
3453
921
16372
23676
5145
15677
5998
27870
24069
6642
20277
4260
7005
10093
11706
19406
8334
3034
33873
17361
1278
4871
1844
26881
1754
3841
20993
11876
28108
26816
10055
18204
7966
33620
17459
4405
5100
24021
16255
9632
10422
16704
13131
8860
29841
34384
31518
7485
18537
14013
22845
33632
6674
8045
34039
6869
10118
17529
12589
630
13771
19504
33787
12506
16720
4720
6210
1374
28317
24401
3714
34191
4530
972
15410
4747
7892
21331
16723
17385
4398
11236
11138
9252
15305
8074
3384
1008
9120
5146
7888
14312
15709
7661
5779
4981
14997
25696
16870
18706
12951
8420
3768
31985
6437
6810
2958
14672
32018
17986
3103
19590
12673
17693
15109
34218
7015
21298
30423
19486
2083
26411
11505
12792
7103
7968
29327
4669
6910
4576
25242
3448
17726
28040
8231
1618
22106
21445
5174
17853
25955
23729
3129
26845
8992
29080
13930
9044
16904
18591
23333
23496
3946
21917
17717
26180
9121
11179
11383
15795
8551
14000
19622
22088
6615
16906
21035
14918
9580
31279
32751
33742
3550
6649
2440
11469
1667
21880
9059
17822
27598
20274
4406
12975
3831
7921
15559
13272
6074
54
22095
30732
9012
9819
19908
10599
1095
519
8498
3504
21773
24592
9547
27493
12716
16460
10211
33491
29926
26511
8202
20798
3611
15591
7391
18584
26682
13470
192
20590
696
9112
15449
22161
29908
16089
25314
14942
13389
4642
6959
219
19957
20499
21787
18786
7270
7436
26839
13900
10876
16503
20408
294
15433
14306
17676
32085
153
187
5061
15647
25065
8288
9755
10395
23121
17645
19776
4828
20401
2847
4262
2845
11932
13511
898
30865
25665
25048
23345
33483
17555
19094
137
26666
3858
10479
22710
16554
2820
4622
2875
14353
34056
9038
25831
27828
3616
31274
13704
5334
12765
9394
14922
20510
27428
3215
20608
32404
9053
28574
19423
5815
20556
29046
13057
8600
9173
19832
11232
32969
8445
15308
33438
5965
24282
18606
6831
21206
9115
19672
33019
9972
31377
21717
2961
29718
10269
10073
3252
8736
5927
13539
28469
4424
26739
25104
16861
17066
34
9728
31704
11592
13472
6551
27733
4711
3970
22909
18043
9680
29445
5150
6753
34591
23140
34086
29092
2712
7023
15268
6666
19996
18752
4766
10795
9837
29308
15839
10113
16185
489
18533
10681
12408
15673
20808
4243
11611
4666
8060
679
28757
20706
360
3843
21085
12172
12504
6621
1154
8144
5200
28829
24152
14534
30766
32738
296
32553
20199
13970
20570
6171
13675
11921
6560
923
3408
19829
6328
26050
17579
14133
1386
7916
11130
4496
2399
13399
20379
3793
33476
30061
13770
4773
19755
6188
16327
10945
11530
27172
7194
2383
12824
34330
1572
21403
31039
28238
6739
2490
12952
27853
13274
31462
1434
29506
31962
6105
8722
17362
16485
17959
4345
7022
1646
11966
29274
20177
10766
7803
24317
10473
33078
27729
140
13092
19010
34267
15865
3422
29168
9069
33428
2157
10553
23176
4012
11352
24446
18690
11850
29928
24475
12516
9391
21256
22802
12640
32611
14579
4863
6511
19784
10877
7676
24664
18665
8732
8171
28535
28011
5041
6086
18332
2491
7134
21072
14464
13291
6889
18339
363
32386
8963
9957
33110
13381
32488
1349
7553
1111
28503
18206
17608
2249
5789
16049
20419
28994
12336
14859
1744
11230
20320
19771
1567
12018
19797
5845
17404
21844
24435
6413
17549
25589
26801
16423
1338
1469
16042
11954
20767
25863
20144
14735
3453
921
16372
23676
5145
15677
5998
27870
24069
6642
20277
4260
7005
10093
11706
19406
8334
3034
33873
17361
1278
4871
1844
26881
1754
3841
20993
11876
28108
26816
10055
18204
7966
33620
17459
4405
5100
24021
16255
9632
10422
16704
13131
8860
29841
34384
31518
7485
18537
14013
22845
33632
6674
8045
34039
6869
10118
17529
12589
630
13771
19504
33787
12506
16720
4720
6210
1374
28317
24401
3714
34191
4530
972
15410
4747
7892
21331
16723
17385
4398
11236
11138
9252
15305
8074
3384
1008
9120
5146
7888
14312
15709
7661
5779
4981
14997
25696
16870
18706
12951
8420
3768
31985
6437
6810
2958
14672
32018
17986
3103
19590
12673
17693
15109
34218
7015
21298
30423
19486
2083
26411
11505
12792
7103
7968
29327
4669
6910
4576
25242
3448
17726
28040
8231
1618
22106
21445
5174
17853
25955
23729
3129
26845
8992
29080
13930
9044
16904
18591
23333
23496
3946
21917
17717
26180
9121
11179
11383
15795
8551
14000
19622
22088
6615
16906
21035
14918
9580
31279
32751
33742
3550
6649
2440
11469
1667
21880
9059
17822
27598
20274
4406
12975
3831
7921
15559
13272
6074
54
22095
30732
9012
9819
19908
10599
1095
519
8498
3504
21773
24592
9547
27493
12716
16460
10211
33491
29926
26511
8202
20798
3611
15591
7391
18584
26682
13470
192
20590
696
9112
15449

In [50]:
submission_df_p3 = submission_df_p3.drop(['title','parsedFeatureStr'], axis=1)

In [51]:
submission_df_p3

     itemID   rec1   rec2   rec3   rec4   rec5
0        12  72603  11989  11117   3106  44220
1     45274  14576  73124  33976  63166  54393
2     41371  14576  73124  33976  63166  54393
3     14015  72603  11989  11117   3106  44220
4     70766  72603  11989  11117   3106  44220
..      ...    ...    ...    ...    ...    ...
553   58358  17731  29508  55699  62433   4283
554    5357   4892  63847  53706  26528   7464
555   68157  58723  30277  44815  11525  12143
556   44964  72603  11989  11117   3106  44220
557   12971  72603  11989  11117   3106  44220

[558 rows x 6 columns]

In [52]:
Export_csv_p3 = submission_df_p3.to_csv("submission_df_p3.csv", index=False)

## Combine CSV

In [57]:
import os 
import pandas as pd

final_submission = pd.DataFrame()

for file in os.listdir(os.getcwd()):
    if file.startswith('submission'):
        print(file)
        final_submission = final_submission.append(pd.read_csv(file))

final_submission.to_csv('Uni_Asia_Pacific_1.csv', index=False, sep='|')

submission_df_p1.csv
submission_df_p2.csv
submission_df_p3.csv