In [106]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import csv

In [107]:
transaction = pd.read_csv("transactions.csv", delimiter="|")
items = pd.read_csv("items.csv", delimiter="|")

In [108]:
transaction.head()

   sessionID  itemID  click  basket  order
0          0   21310      1       0      0
1          1   73018      1       0      0
2          2   19194      1       0      0
3          3   40250      1       0      0
4          4   46107      1       0      0

In [109]:
print(transaction.shape)
print(items.shape)

(365143, 5)
(78030, 6)

In [118]:
data = pd.merge(items, transaction, on=["itemID"], how='outer')

In [119]:
data.shape

(418264, 10)

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418264 entries, 0 to 418263
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   itemID      418264 non-null  int64
 1   title       418264 non-null  object
 2   author      375707 non-null  object
 3   publisher   418255 non-null  object
 4   main topic  417239 non-null  object
 5   subtopics   418263 non-null  object
 6   sessionID   365143 non-null  float64
 7   click       365143 non-null  float64
 8   basket      365143 non-null  float64
 9   order       365143 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 35.1+ MB

In [113]:
# choosing Target variable
#print(inner_merged_total['basket'].value_counts())
#print(inner_merged_total['click'].value_counts())
print(data['order'].value_counts())

0     348237
1      16593
2        255
3         18
4          7
5          7
21         4
10         2
25         2
7          2
27         2
12         2
11         2
6          1
28         1
14         1
15         1
19         1
20         1
22         1
23         1
26         1
13         1
Name: order, dtype: int64

In [123]:
##data preprocessing 
##generate target variable interest
data["Interest"] = data["click"] + data["basket"]+ data["order"]


## aggregrate (idea is to generate the frequencies of item id, and multiply it by interest, getting the total interest of the items)

In [124]:
data.head()
#print(inner_merged_total['Interest'].value_counts())

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Interest
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,1.0
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,1.0
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,1.0
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,1.0
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,1.0

## Group by item ID, and then count the item ID, and then interest * count of itemID = total interest column

In [125]:
##generate frequency
test = data.value_counts(['itemID']).reset_index(name='Frequency')
print(test.head())

   itemID  Frequency
0   58522       2291
1   66247       1775
2   10666       1749
3   44220       1687
4   69185       1290

In [126]:
#Merging frequency 
book_data = pd.merge(data, test, on=["itemID"])
book_data.head()

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Interest,Frequency
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,1.0,3
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,1.0,3
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,1.0,3
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,1.0,59
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,1.0,59

In [127]:
#remove dupicate rows 
print(book_data.shape)
# book_data.drop_duplicates(subset ="itemID", keep='first' ,inplace=True)
# print(book_data.shape)

(418264, 12)

In [128]:
book_data["itemID"].value_counts()

58522    2291
66247    1775
10666    1749
44220    1687
69185    1290
         ...
51385       1
49336       1
47287       1
43189       1
0           1
Name: itemID, Length: 78030, dtype: int64

In [129]:
book_data.head()

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Interest,Frequency
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,1.0,3
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,1.0,3
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,1.0,3
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,1.0,59
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,1.0,59

In [130]:
book_rating= book_data.copy()
book_rating.drop(['sessionID', 'click','author','publisher'], axis=1)

,itemID,title,main topic,subtopics,basket,order,Interest,Frequency
0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],0.0,0.0,1.0,3
1,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],0.0,0.0,1.0,3
2,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],0.0,0.0,1.0,3
3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",0.0,0.0,1.0,59
4,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",0.0,0.0,1.0,59
...,...,...,...,...,...,...,...,...
418259,37678,Timeless Fairy Tales,YFA,[YFJ],NaN,NaN,NaN,1
418260,68688,Demon Games,FMB,[],NaN,NaN,NaN,1
418261,57291,Lori and the Lion's Den,YFU,[],NaN,NaN,NaN,1
418262,78130,The Everywhere Armchair,YFC,"[YFG,YFH]",NaN,NaN,NaN,1
418263,68789,The Light Voyager,FL,[],NaN,NaN,NaN,1

In [131]:
##data cleaning
values = {'basket': 0, 'order': 0}
book_rating.fillna(value=values)

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Interest,Frequency
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,1.0,3
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,1.0,3
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,1.0,3
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,1.0,59
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,1.0,59
...,...,...,...,...,...,...,...,...,...,...,...,...
418259,37678,Timeless Fairy Tales,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",MEDIAMORPHOSIS,YFA,[YFJ],NaN,NaN,0.0,0.0,NaN,1
418260,68688,Demon Games,A. Witt Timothy a. Witt,iUniverse,FMB,[],NaN,NaN,0.0,0.0,NaN,1
418261,57291,Lori and the Lion's Den,A. M. Glass,Xlibris,YFU,[],NaN,NaN,0.0,0.0,NaN,1
418262,78130,The Everywhere Armchair,Ersila Bee,ELOQUENT BOOKS,YFC,"[YFG,YFH]",NaN,NaN,0.0,0.0,NaN,1
418263,68789,The Light Voyager,Orlando Mardi Orlando,Trafford Publishing,FL,[],NaN,NaN,0.0,0.0,NaN,1

In [133]:
print(book_rating['log_frequency'].value_counts())

0.000000    60613
0.693147     7318
1.098612     6471
1.386294     6292
1.609438     5705
            ...
5.214936      184
5.176150      177
5.164786      175
5.087596      162
4.969813      144
Name: log_frequency, Length: 373, dtype: int64

In [132]:
import numpy as np
book_rating['log_frequency'] = np.log(book_data['Frequency'])

In [31]:
book_rating['log_frequency'].describe()

count    365143.000000
mean          4.180804
std           1.713608
min           0.000000
25%           2.995732
50%           4.394449
75%           5.393628
max           7.736744
Name: log_frequency, dtype: float64

In [134]:
bin_labels_5 = ['E','D','C', 'B', 'A']
book_rating['Grade'] = pd.qcut(book_rating['log_frequency'],
                              q=[0, .2, .4, .6, .8, 1],
                              labels=bin_labels_5, duplicates='drop')
book_rating

,itemID,title,author,publisher,main topic,subtopics,sessionID,click,basket,order,Interest,Frequency,log_frequency,Grade
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],0.0,1.0,0.0,0.0,1.0,3,1.098612,E
1,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],89272.0,1.0,0.0,0.0,1.0,3,1.098612,E
2,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],183856.0,1.0,0.0,0.0,1.0,3,1.098612,E
3,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1.0,1.0,0.0,0.0,1.0,59,4.077537,C
4,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",771.0,1.0,0.0,0.0,1.0,59,4.077537,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418259,37678,Timeless Fairy Tales,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",MEDIAMORPHOSIS,YFA,[YFJ],NaN,NaN,NaN,NaN,NaN,1,0.000000,E
418260,68688,Demon Games,A. Witt Timothy a. Witt,iUniverse,FMB,[],NaN,NaN,NaN,NaN,NaN,1,0.000000,E
418261,57291,Lori and the Lion's Den,A. M. Glass,Xlibris,YFU,[],NaN,NaN,NaN,NaN,NaN,1,0.000000,E
418262,78130,The Everywhere Armchair,Ersila Bee,ELOQUENT BOOKS,YFC,"[YFG,YFH]",NaN,NaN,NaN,NaN,NaN,1,0.000000,E
418263,68789,The Light Voyager,Orlando Mardi Orlando,Trafford Publishing,FL,[],NaN,NaN,NaN,NaN,NaN,1,0.000000,E

In [135]:
book_rating = book_rating.drop(['sessionID', 'click','author','publisher','Frequency'], axis=1)

In [136]:
book_rating.drop_duplicates(subset ="title", keep='first' ,inplace=True)

In [137]:
book_rating = book_rating.reset_index()

In [138]:
book_rating

,index,itemID,title,main topic,subtopics,basket,order,Interest,log_frequency,Grade
0,0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],0.0,0.0,1.0,1.098612,E
1,3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",0.0,0.0,1.0,4.077537,C
2,62,19194,Red Queen 1,YFH,"[5AP,FBA]",0.0,0.0,1.0,5.225747,B
3,248,40250,Meine Kindergarten-Freunde (Pirat),YB,"[5AC,5AD,YBG,YBL,YF]",0.0,0.0,1.0,5.826000,A
4,587,46107,Mein großes Schablonen-Buch - Wilde Tiere,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",0.0,0.0,1.0,3.218876,D
...,...,...,...,...,...,...,...,...,...,...
72123,418259,37678,Timeless Fairy Tales,YFA,[YFJ],NaN,NaN,NaN,0.000000,E
72124,418260,68688,Demon Games,FMB,[],NaN,NaN,NaN,0.000000,E
72125,418261,57291,Lori and the Lion's Den,YFU,[],NaN,NaN,NaN,0.000000,E
72126,418262,78130,The Everywhere Armchair,YFC,"[YFG,YFH]",NaN,NaN,NaN,0.000000,E
72127,418263,68789,The Light Voyager,FL,[],NaN,NaN,NaN,0.000000,E

In [251]:
#creating combined target feature
def parseFeature(book_rating):
    data = str(book_rating["main topic"]) + ','
    data += str(book_rating["subtopics"]) + ','
    data += str(book_rating['relevance_score'])
    x = data.replace('[','')
    y = x.replace(']','')
    return y

In [252]:
book_rating['parsedFeatureStr'] = book_rating.apply(parseFeature, axis = 1)

In [223]:
#calculate relevance score

def relevance(book_rating):
    if (book_rating['order'] != 0):
        return "A"
    elif (book_rating['order'] == 0 and  book_rating['basket'] != 0):
        return "B"
    else:
        return "C"
    

book_rating['relevance_score'] = book_rating.apply(relevance, axis = 1)

book_rating.head(10)

,index,itemID,title,main topic,subtopics,basket,order,Interest,log_frequency,Grade,relevance_score,parsedFeatureStr
0,0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],0.0,0.0,1.0,1.098612,E,C,"YFB,C"
1,3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",0.0,0.0,1.0,4.077537,C,C,"AGZ,C"
2,62,19194,Red Queen 1,YFH,"[5AP,FBA]",0.0,0.0,1.0,5.225747,B,C,"YFH,C"
3,248,40250,Meine Kindergarten-Freunde (Pirat),YB,"[5AC,5AD,YBG,YBL,YF]",0.0,0.0,1.0,5.826000,A,C,"YB,C"
4,587,46107,Mein großes Schablonen-Buch - Wilde Tiere,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",0.0,0.0,1.0,3.218876,D,C,"WFTM,C"
5,612,34217,Ewig geliebt,FMR,"[1KBB-US-NAK,FMX,FRX,3MRBF]",0.0,0.0,1.0,4.532599,C,C,"FMR,C"
6,705,31436,Meine Sticker-Tiere,YBG,"[5AD,YBG,YBLL]",0.0,0.0,1.0,3.332205,D,C,"YBG,C"
7,733,14576,Unsterblich 01 - Tor der Dämmerung,YFE,"[5AQ,FM,YFE,YFH]",1.0,0.0,2.0,3.433987,C,B,"YFE,B"
8,764,17731,Unsterblich 02 - Tor der Nacht,YFH,"[5AQ,FM,YFE,YFH]",1.0,0.0,3.0,2.890372,D,B,"YFH,B"
9,782,58723,Pedro und die Bettler von Cartagena,YFB,"[5AM,1KLSC]",0.0,0.0,1.0,2.484907,D,C,"YFB,C"

In [253]:
book_rating.head(40)

,index,itemID,title,main topic,subtopics,basket,order,Interest,log_frequency,Grade,relevance_score,parsedFeatureStr
0,0,21310,Princess Poppy: The Big Mix Up,YFB,[5AH],0.0,0.0,1.0,1.098612,E,C,"YFB,5AH,C"
1,3,73018,Einfach zeichnen! Step by Step,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",0.0,0.0,1.0,4.077537,C,C,"AGZ,5AJ,AGZ,WFA,YBG,YBL,YNA,YPA,C"
2,62,19194,Red Queen 1,YFH,"[5AP,FBA]",0.0,0.0,1.0,5.225747,B,C,"YFH,5AP,FBA,C"
3,248,40250,Meine Kindergarten-Freunde (Pirat),YB,"[5AC,5AD,YBG,YBL,YF]",0.0,0.0,1.0,5.826000,A,C,"YB,5AC,5AD,YBG,YBL,YF,C"
4,587,46107,Mein großes Schablonen-Buch - Wilde Tiere,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",0.0,0.0,1.0,3.218876,D,C,"WFTM,WD,WFTM,YBG,YBL,YBLD,YBLN1,C"
5,612,34217,Ewig geliebt,FMR,"[1KBB-US-NAK,FMX,FRX,3MRBF]",0.0,0.0,1.0,4.532599,C,C,"FMR,1KBB-US-NAK,FMX,FRX,3MRBF,C"
6,705,31436,Meine Sticker-Tiere,YBG,"[5AD,YBG,YBLL]",0.0,0.0,1.0,3.332205,D,C,"YBG,5AD,YBG,YBLL,C"
7,733,14576,Unsterblich 01 - Tor der Dämmerung,YFE,"[5AQ,FM,YFE,YFH]",1.0,0.0,2.0,3.433987,C,B,"YFE,5AQ,FM,YFE,YFH,B"
8,764,17731,Unsterblich 02 - Tor der Nacht,YFH,"[5AQ,FM,YFE,YFH]",1.0,0.0,3.0,2.890372,D,B,"YFH,5AQ,FM,YFE,YFH,B"
9,782,58723,Pedro und die Bettler von Cartagena,YFB,"[5AM,1KLSC]",0.0,0.0,1.0,2.484907,D,C,"YFB,5AM,1KLSC,C"
10,794,73124,Freundebuch - Einhorn-Paradies - Meine Freunde,YZG,"[5JA,YBG,YBL,YFH,YZS]",0.0,0.0,1.0,4.955827,B,C,"YZG,5JA,YBG,YBL,YFH,YZS,C"
11,936,33976,Die Haushörerin,FMR,"[1DFG-DE-VH,FMR,FMX,FRD]",0.0,0.0,1.0,2.079442,D,C,"FMR,1DFG-DE-VH,FMR,FMX,FRD,C"
12,944,2408,Reiter der schwarzen Sonne,FMB,"[5AN,WDHW]",0.0,0.0,2.0,2.397895,D,C,"FMB,5AN,WDHW,C"
13,955,30277,WAS IST WAS Quiz Autos,YNV,"[5AJ,YBL]",0.0,0.0,1.0,1.791759,D,C,"YNV,5AJ,YBL,C"
14,961,29508,WAS IST WAS Quiz Länder der Welt,YNV,"[5AJ,YBL]",1.0,0.0,2.0,2.079442,D,B,"YNV,5AJ,YBL,B"
15,969,75659,WAS IST WAS Quiz Fußball,YNWD1,"[5AJ,2ACG,SFBC,WDKX,YBL,YNVP,YZG]",0.0,0.0,1.0,1.386294,E,C,"YNWD1,5AJ,2ACG,SFBC,WDKX,YBL,YNVP,YZG,C"
16,973,55699,Spring in eine Pfütze! Mein perfekter Frühling...,YNVP,"[YBG,YBL,YNVP,YZS]",0.0,0.0,2.0,6.728629,A,C,"YNVP,YBG,YBL,YNVP,YZS,C"
17,1809,62433,Und dann kamst du,YXHL,"[5AQ,5JA,DND,YFM,YXHL]",0.0,0.0,1.0,1.791759,D,C,"YXHL,5AQ,5JA,DND,YFM,YXHL,C"
18,1815,72603,"Ich hab einen Freund, der ist Astronaut",YBCS,"[5AC,4CA,YBL,YF,YNK,YNMH,YNNZ,YNTR]",0.0,0.0,1.0,2.833213,D,C,"YBCS,5AC,4CA,YBL,YF,YNK,YNMH,YNNZ,YNTR,C"
19,1832,11989,Vampire Academy 06,FMR,"[5AQ,FMB,FMR,FMX,FRT]",0.0,0.0,1.0,1.945910,D,C,"FMR,5AQ,FMB,FMR,FMX,FRT,C"
20,1839,11117,Vampire Academy - Schattenträume,FMR,"[5AQ,FMR,FMX,FRD,FRT]",0.0,0.0,1.0,2.397895,D,C,"FMR,5AQ,FMR,FMX,FRD,FRT,C"
21,1850,73865,Wir spielen Kasperltheater,ATDH,"[5AC,WDM,YBL,YND]",0.0,1.0,1.0,0.693147,E,A,"ATDH,5AC,WDM,YBL,YND,A"
22,1852,15581,Der Herr der Ringe,FMB,"[FYT,YFH]",1.0,0.0,1.0,6.018593,A,B,"FMB,FYT,YFH,B"
23,2263,4892,Harry Potter 4 and the Goblet of Fire,YFH,[5AK],0.0,0.0,1.0,5.283204,B,C,"YFH,5AK,C"
24,2460,44815,Covet,YFHR,[],0.0,0.0,1.0,4.317488,C,C,"YFHR,,C"
25,2535,63847,A Vow So Bold and Deadly,YFHR,[YFM],0.0,0.0,1.0,4.709530,B,C,"YFHR,YFM,C"
26,2646,3106,Kiss Me Never (Crushed-Trust-Reihe 1),FRD,"[5AQ,5AX,5JA,5LKE,1KBB,FRM,YFM]",0.0,0.0,2.0,3.761200,C,C,"FRD,5AQ,5AX,5JA,5LKE,1KBB,FRM,YFM,C"
27,2689,4283,Hold Me Tonight (Crushed-Trust-Reihe 2),FRD,"[5AQ,5AX,5JA,5LKE,1KBB,FRM,YFM]",0.0,0.0,1.0,2.833213,D,C,"FRD,5AQ,5AX,5JA,5LKE,1KBB,FRM,YFM,C"
28,2706,63166,Fingerstempel-Spaß Kunterbunt,YBLD,"[5AD,YBG,YBLD]",0.0,0.0,1.0,6.045005,A,C,"YBLD,5AD,YBG,YBLD,C"
29,3128,44220,Fingerstempel-Spaß Tiere,YBG,"[5AD,YBG,YBLD,YBLL]",0.0,0.0,1.0,7.430707,A,C,"YBG,5AD,YBG,YBLD,YBLL,C"
30,4815,54393,Picklewitch & Jack and the Cuckoo Cousin,YFH,"[5AF,YFQ,YFS]",0.0,0.0,1.0,1.386294,E,C,"YFH,5AF,YFQ,YFS,C"
31,4819,64544,Spiele-Klassiker Gummitwist-Set,YBL,[],0.0,0.0,1.0,5.598422,A,C,"YBL,,C"
32,5089,55796,Freundebuch - Handlettering - Meine Freunde,YBG,"[5JA,WFU,YBG,YBL,YZS]",0.0,0.0,1.0,5.680173,A,C,"YBG,5JA,WFU,YBG,YBL,YZS,C"
33,5382,6942,Mein Wisch-und-weg-Buch: Großbuchstaben,YBG,"[5AF,YBL]",0.0,0.0,1.0,4.770685,B,C,"YBG,5AF,YBL,C"
34,5500,23197,Nichts,YFS,"[5AQ,1DND,YFB,YFS]",1.0,0.0,2.0,5.451038,B,B,"YFS,5AQ,1DND,YFB,YFS,B"
35,5733,2417,A Court of Thorns and Roses. Acotar Adult Edition,YFH,[FMR],0.0,0.0,1.0,5.948035,A,C,"YFH,FMR,C"
36,6116,57800,Das Schwert der Vorsehung,ATFN,"[ATFN,FJ,FM,FYB,FYT]",1.0,0.0,1.0,5.505332,B,B,"ATFN,ATFN,FJ,FM,FYB,FYT,B"
37,6362,11525,Zeit des Sturms,ATFN,"[ATFN,FJ,FM,FMB,FYT,3KLN]",1.0,0.0,1.0,5.318120,B,B,"ATFN,ATFN,FJ,FM,FMB,FYT,3KLN,B"
38,6566,12143,The Testaments,FDB,"[FB,FL]",0.0,0.0,1.0,4.709530,B,C,"FDB,FB,FL,C"
39,6677,42285,Die Dunkelmagierin,FMB,[],0.0,0.0,1.0,2.079442,D,C,"FMB,,C"

In [225]:
book_rating.drop_duplicates(subset ="itemID", keep='first' ,inplace=True)

In [323]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import HashingVectorizer

c_vectorizer = CountVectorizer(min_df=1,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

vectorizer = TfidfVectorizer(min_df=1,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

h_vectorizer = HashingVectorizer(n_features=2**1,
                            strip_accents='unicode', analyzer='word',token_pattern=r',',ngram_range=(1,3),stop_words='english')

In [353]:
parsedFeatureMatrix = vectorizer.fit_transform(book_rating['parsedFeatureStr'])

In [354]:
parsedFeatureMatrix

<72128x3 sparse matrix of type '<class 'numpy.float64'>'
	with 165502 stored elements in Compressed Sparse Row format>

In [350]:
parsedFeatureMatrix.shape

(5, 3)

In [351]:
from sklearn.metrics.pairwise import sigmoid_kernel 
from sklearn.metrics.pairwise import cosine_similarity 

sig = sigmoid_kernel(parsedFeatureMatrix, parsedFeatureMatrix)
# cos = cosine_similarity(parsedFeatureMatrix, parsedFeatureMatrix)

In [352]:
sig[0]

array([0.87006166, 0.85333222, 0.86535758, 0.8558319 , 0.85439969])

In [73]:
indices = pd.Series(book_rating.index, index = book_rating['title'])

In [74]:
indices_df = pd.Series(book_rating.index, index = book_rating['title']).to_frame()

In [75]:
indices_itemID_mapping = pd.merge(indices_df, book_rating, on=["title"])

In [76]:
indices_df

                                                        0
title
Princess Poppy: The Big Mix Up                          0
Einfach zeichnen! Step by Step                          1
Red Queen 1                                             2
Meine Kindergarten-Freunde (Pirat)                      3
Mein großes Schablonen-Buch - Wilde Tiere               4
...                                                   ...
Soon                                                23529
Warum? Fragen u. Antworten f. Kleinkinder - In ...  23530
Tesla                                               23531
Hexenherz. Glühender Hass                           23532
Everybody Sees the Ants                             23533

[23534 rows x 1 columns]

In [77]:
indices_itemID_mapping = indices_itemID_mapping.drop(['index'], axis=1)

In [78]:
indices_itemID_mapping

,title,0,itemID,basket,order,main topic,subtopics,Interest,log_frequency,Grade,relevance_score,parsedFeatureStr
0,Princess Poppy: The Big Mix Up,0,21310,0,0,YFB,[5AH],1,1.098612,E,Low,"YFB,5AH,E,Low"
1,Einfach zeichnen! Step by Step,1,73018,0,0,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1,4.077537,C,Low,"AGZ,5AJ,AGZ,WFA,YBG,YBL,YNA,YPA,C,Low"
2,Red Queen 1,2,19194,0,0,YFH,"[5AP,FBA]",1,5.225747,B,Low,"YFH,5AP,FBA,B,Low"
3,Meine Kindergarten-Freunde (Pirat),3,40250,0,0,YB,"[5AC,5AD,YBG,YBL,YF]",1,5.826000,A,Low,"YB,5AC,5AD,YBG,YBL,YF,A,Low"
4,Mein großes Schablonen-Buch - Wilde Tiere,4,46107,0,0,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",1,3.218876,D,Low,"WFTM,WD,WFTM,YBG,YBL,YBLD,YBLN1,D,Low"
...,...,...,...,...,...,...,...,...,...,...,...,...
23529,Soon,23529,21264,0,0,YFN,[5AL],1,0.000000,E,Low,"YFN,5AL,E,Low"
23530,Warum? Fragen u. Antworten f. Kleinkinder - In...,23530,22297,0,0,YBC,[YBL],1,0.000000,E,Low,"YBC,YBL,E,Low"
23531,Tesla,23531,56041,0,0,FLM,[],1,0.000000,E,Low,"FLM,,E,Low"
23532,Hexenherz. Glühender Hass,23532,67832,0,0,FMH,"[1D,FMH,FMR]",2,0.000000,E,Low,"FMH,1D,FMH,FMR,E,Low"
23533,Everybody Sees the Ants,23533,73084,0,0,YXQF,"[YF,YXD,YXE]",1,0.000000,E,Low,"YXQF,YF,YXD,YXE,E,Low"

In [79]:
def recommender(title, sig=sig):
    index = indices[title]
    print(index)
    
    # get similarity scores
    sig_scores = list(enumerate(sig[index]))
    #sort by scores
    sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:6]
    
    #relate to book
    book_indices = [i[0] for i in sig_scores]
    
    return book_rating['itemID'].iloc[book_indices]

In [90]:
recommender_df = recommender('The Dead Man in Indian Creek').to_frame()

KeyError: 'The Dead Man in Indian Creek'

In [81]:
recommender_df

    itemID
28   63166
30   54393
57   56766
58   75990
59   66314

In [82]:
t = pd.merge(recommender_df, book_rating, on=["itemID"])

In [83]:
t

,itemID,index,basket,order,title,main topic,subtopics,Interest,log_frequency,Grade,relevance_score,parsedFeatureStr
0,63166,2706,0,0,Fingerstempel-Spaß Kunterbunt,YBLD,"[5AD,YBG,YBLD]",1,6.045005,A,Low,"YBLD,5AD,YBG,YBLD,A,Low"
1,54393,4815,0,0,Picklewitch & Jack and the Cuckoo Cousin,YFH,"[5AF,YFQ,YFS]",1,1.386294,E,Low,"YFH,5AF,YFQ,YFS,E,Low"
2,56766,9509,0,0,Die Spiderwick Geheimnisse 01 - Eine unglaubli...,YFC,"[5AJ,YFC,YFH]",1,3.258097,D,Low,"YFC,5AJ,YFC,YFH,D,Low"
3,75990,9535,0,0,Die Spiderwick Geheimnisse 02 - Gefährliche Suche,YFC,"[5AJ,YFC,YFH]",1,1.386294,E,Low,"YFC,5AJ,YFC,YFH,E,Low"
4,66314,9539,0,0,Die Chroniken von Narnia - Illustrierte Gesamt...,YFH,"[5AL,FM,YFH]",1,5.717028,A,Low,"YFH,5AL,FM,YFH,A,Low"

## Populate evaluation DF

In [84]:
## Use Evaluation dataset to recommend 5 itemID

evaluation_df = pd.read_csv("evaluation.csv", delimiter="|")

evaluation_df

     itemID
0        12
1     45274
2     10104
3     41371
4     14015
..      ...
995   78384
996   68157
997   44964
998   12971
999   41078

[1000 rows x 1 columns]

In [85]:
title_df = indices_itemID_mapping.drop(['basket','order','main topic','subtopics','log_frequency','Grade', 'relevance_score', 0, 'parsedFeatureStr'], axis=1)
title_df

                                                   title  itemID  Interest
0                         Princess Poppy: The Big Mix Up   21310         1
1                         Einfach zeichnen! Step by Step   73018         1
2                                            Red Queen 1   19194         1
3                     Meine Kindergarten-Freunde (Pirat)   40250         1
4              Mein großes Schablonen-Buch - Wilde Tiere   46107         1
...                                                  ...     ...       ...
23529                                               Soon   21264         1
23530  Warum? Fragen u. Antworten f. Kleinkinder - In...   22297         1
23531                                              Tesla   56041         1
23532                          Hexenherz. Glühender Hass   67832         2
23533                            Everybody Sees the Ants   73084         1

[23534 rows x 3 columns]

In [88]:
submission_df = pd.merge(evaluation_df, items, on=["itemID"]) 
submission_df = submission_df.drop(['author','publisher','main topic','subtopics'], axis=1)
submission_df

     itemID                                              title
0        12                                       Breathtaking
1     45274                       The Dead Man in Indian Creek
2     10104                                    The Humble Seed
3     41371  Dryadenhain & Dschinnenzauber (Märchenanthologie)
4     14015    The Man of Steel: Superman vs. the Moon Bandits
..      ...                                                ...
993   78384                            Ice Cream for Breakfast
994   68157                                    Der ewige Krieg
995   44964  Back to Earth (Greek Edition): The Adventures ...
996   12971  Sharks - Read it yourself with Ladybird: Level...
997   41078                       Jamie O'Rourke and the Pooka

[998 rows x 2 columns]

In [ ]:
def getSigScoreArray(num, title, sig=sig):
    index = indices[title]
    print(index)
    
    # get similarity scores
    sig_scores = list(enumerate(sig[index]))
    #sort by scores
    sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:num+1]
    
    test_sig_score_arr = []
    test_sig_score_arr = sig_scores
    
    sig_score_array = []
    for score in test_sig_score_arr:
        sig_score_array.append(score[1])
    return sig_score_array

In [ ]:
sig_score_array = getSigScoreArray(5, "Princess Poppy: The Big Mix Up")

In [ ]:
##Create new column where order != 0 but basket and/or click is 0

def identify(book_data):
    if (book_data['order'] != 0 and (book_data['basket']  | book_data['click'] == 0)):
        return 'Found'
    else:
        return 'Not found'

book_data['test'] = book_data.apply(identify, axis = 1)

book_data.head(10)

In [ ]:
#Print how many counts for order column

print(book_data['order'].value_counts())

In [ ]:
## Print how many counts for test column

print(book_data['test'].value_counts())

In [ ]:
## Print column where test == found

test_column = book_data.loc[book_data['test'] == 'Found']

test_column.head(10)

In [ ]:
##clone dataframe
sea_born_df = book_data.copy(deep=True)

In [ ]:
sea_born_df.shape

In [ ]:
## dropping unnessesary columns for pairplot
sea_born_df = sea_born_df.filter(items = ['click', 'basket', 'order'])

In [ ]:
## Make pair plot using seaborn
import seaborn as sns


# sns.set(style="ticks", color_codes=True)
sns.pairplot(sea_born_df)


import matplotlib.pyplot as plt
plt.show()

In [ ]:
#Create histogram -> edited

x = book_data['Total_Interest'].value_counts()

plt.hist(x, bins = 60)
plt.show()

In [ ]:
## remove interest, total interest, click, basket, order from dataframe

latest_data = book_data.drop(['Interest', 'Total_Interest', 'click', 'basket', 'order'], axis = 1)
latest_data

In [ ]:
## EDA main topic vs subtopic vs title and use only frequency

In [ ]:
#test on printing rows with one main topic

latest_data.loc[latest_data['main topic'] == 'FM'].head(5)

In [ ]:
# Show title, main topic & subtopics with frequency value in mean
print(latest_data.groupby('title')['Frequency'].mean().sort_values(ascending=False).head(), '\n')
print(latest_data.groupby('main topic')['Frequency'].mean().sort_values(ascending=False).head(), '\n')
print(latest_data.groupby('subtopics')['Frequency'].mean().sort_values(ascending=False).head())

In [ ]:
# Show title, main topic & subtopics with frequency value in counts
print(latest_data.groupby('title')['Frequency'].count().sort_values(ascending=False).head(), '\n')
print(latest_data.groupby('main topic')['Frequency'].count().sort_values(ascending=False).head(), '\n')
print(latest_data.groupby('subtopics')['Frequency'].count().sort_values(ascending=False).head())

In [ ]:
#Mean value for title
title = pd.DataFrame(latest_data.groupby('title')['Frequency'].mean().sort_values(ascending=False))
#Count value for title
title['Counts'] = pd.DataFrame(latest_data.groupby('title')['Frequency'].count())
title

In [ ]:
print(title['Counts'].value_counts(), '\n')    #Counts
print(title['Frequency'].value_counts(), '\n') #Mean

In [ ]:
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [ ]:
plt.figure(figsize=(10,4))
title['Counts'].hist(bins=30)

plt.figure(figsize=(10,4))
title['Frequency'].hist(bins=80)

In [ ]:
sns.jointplot(x='Counts', y='Frequency', data=title,  alpha=0.6)

In [ ]:
#Mean value for main topic
main = pd.DataFrame(latest_data.groupby('main topic')['Frequency'].mean().sort_values(ascending=False))
#Count value for main topic
main['Counts'] = pd.DataFrame(latest_data.groupby('main topic')['Frequency'].count())
main

In [ ]:
#Show latest data
print(latest_data['main topic'].value_counts(), '\n')    #Counts

#Show the counts for duplicate main topic
#You may ignore this ...... Not sure if this is good or not
print('Number of duplicated rows:', latest_data.duplicated(['main topic'], keep='first').value_counts(), '\n')

#Show where total duplicated main topic more than 5
duplicate = latest_data['main topic'].value_counts()
print(duplicate.loc[duplicate > 5])

#Show where total duplicated main topic less than or equal to 5
duplicate.loc[duplicate <= 5]

In [ ]:
print(main['Counts'].value_counts(), '\n')    #Counts
print(main['Frequency'].value_counts(), '\n') #Mean

In [ ]:
plt.figure(figsize=(10,4))
main['Counts'].hist(bins=30)

plt.figure(figsize=(10,4))
main['Frequency'].hist(bins=70)

In [ ]:
sns.jointplot(x='Counts', y='Frequency', data=main,  alpha=0.6)

In [ ]:
#Mean value for subtopic
sub = pd.DataFrame(latest_data.groupby('subtopics')['Frequency'].mean().sort_values(ascending=False))
#Count value for subtopic
sub['Counts'] = pd.DataFrame(latest_data.groupby('subtopics')['Frequency'].count())
sub

In [ ]:
print(sub['Counts'].value_counts(), '\n')    #Counts
print(sub['Frequency'].value_counts(), '\n') #Mean

In [ ]:
plt.figure(figsize=(10,4))
sub['Counts'].hist(bins=10)

plt.figure(figsize=(10,4))
sub['Frequency'].hist(bins=70)

In [ ]:
sns.jointplot(x='Counts', y='Frequency', data=sub,  alpha=0.6)

## Extra EDA

In [ ]:
transaction = pd.read_csv("transactions.csv", delimiter="|")
items = pd.read_csv("items.csv", delimiter="|")

In [ ]:
data = pd.merge(transaction, items, on=["itemID"])

In [ ]:
data["Interest"] = data["click"] + data["basket"]+ data["order"]

In [ ]:
##generate frequency
test = data.value_counts(['itemID']).reset_index(name='Frequency')
print(test.head())

In [ ]:
#Merging frequency 
book_data = pd.merge(data, test, on=["itemID"])
book_data.head()

In [ ]:
## removing unnnessesarry column
del book_data["click"]
del book_data["basket"]
del book_data["order"]

In [ ]:
book_data.head()

In [ ]:
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [ ]:
book_data.groupby('title')['Interest'].mean().sort_values(ascending=False).head()

In [ ]:
book_data.groupby('title')['Interest'].count().sort_values(ascending=False).head()

In [ ]:
# interests = pd.DataFrame(book_data.groupby('title')['Interest'].mean())
# interests = pd.DataFrame(book_data.groupby('title')['click'].mean())
# #interests = pd.DataFrame(book_data.groupby('title')['basket'].mean())
interests = pd.DataFrame(book_data.groupby('title')['Interest'].mean())
interests.head()

In [ ]:
# interests['number of interests'] = pd.DataFrame(book_data.groupby('title')['Interest'].count())
# interests['number of click'] = pd.DataFrame(book_data.groupby('title')['click'].count())
# interests['number of basket'] = pd.DataFrame(book_data.groupby('title')['basket'].count())
interests['number of order'] = pd.DataFrame(book_data.groupby('title')['Interest'].count())
interests.head()

In [ ]:
plt.figure(figsize=(10,4))
interests['number of interests'].hist(bins=70)

In [ ]:
plt.figure(figsize=(10,4))
interests['Interest'].hist(bins=70)

In [ ]:
sns.jointplot(x='Interest', y='number of interests', data=interests,  alpha=0.5)

In [ ]:
sns.jointplot(x='order', y='number of basket', data=interests,  alpha=0.5)

In [ ]:
sns.jointplot(x='basket', y='number of basket', data=interests,  alpha=0.5)

In [ ]:
sns.jointplot(x='click', y='number of click', data=interests,  alpha=0.5)

## Pivot Table

In [ ]:
book_pivot = book_data_test.pivot_table(index='sessionID', columns='title', values='Interest')
book_pivot.head()

In [ ]:
book_data_test = book_data.head(100000)

In [ ]:
interests.sort_values('number of interests', ascending=False).head(10)