In [1]:
import pandas as pd
import json
from datetime import datetime
import calendar
import numpy as np

In [2]:
ds1 = pd.read_excel('sample_data.xlsx', sheet_name='trans')
ds2 = pd.read_excel('sample_data.xlsx', sheet_name='user')

In [3]:
ds1 = ds1.drop(['PriceInfoCurrency','PriceInfoPrice','PriceInfoOldPrice','PriceInfoTax','PriceInfoDiscountType','PriceInfoDiscountValue','PriceInfoDiscountDescription','PriceInfoDiscountStartDate','PriceInfoDiscountEndDate','PriceInfoDiscountDisplayType'], axis = 1)

In [4]:
ds1.columns=['attributes', 'categories', 'Item_id', 'merchant_id', 'Item_name','Description', 'order_date', 'order_id', 'price_total', 'user_id']

In [29]:
(ds1['order_date'][0]).day_name()

'Sunday'

In [6]:
ds2.columns = ['user_id', 'age', 'race', 'gender']

In [7]:
ds2.nunique()

user_id    558
age         53
race         4
gender       2
dtype: int64

In [8]:
missing_id=list(set(ds1['user_id'])-set(ds2['user_id']))

In [10]:
mobile= list(ds2['user_id'])
gender= list(ds2['gender'])
age   = list(ds2['age'])
race  = list(ds2['race'])
mobile = mobile+missing_id

In [11]:
ds2 =pd.DataFrame({'user_id':pd.Series(mobile), 'age':pd.Series(age), 'race':pd.Series(race), 'gender':pd.Series(gender)})

In [12]:
ds2['age']=ds2['age'].fillna(ds2['age'].mean())
ds2['gender']=ds2['gender'].fillna(ds2['gender'].value_counts().index[0])
ds2['race']=ds2['race'].fillna(ds2['race'].value_counts().index[0])
ds2['age'] = ds2['age'].astype(float).apply(np.ceil)

In [13]:
ds2 = ds2.drop_duplicates(subset='user_id', keep='first')

In [14]:
ds2=ds2.reset_index()

In [15]:
ds2.columns=['UID', 'user','age','race','gender']

In [16]:
ds2

     UID          user   age  race gender
0      0   60102205487  37.0   2.0      M
1      1   60102256069  34.0   3.0      M
2      2   60102463660  33.0   1.0      M
3      3   60102493929  33.0   3.0      M
4      4   60102506297  30.0   2.0      F
..   ...           ...   ...   ...    ...
589  589   60146237896  33.0   2.0      M
590  590   60126635084  33.0   2.0      M
591  591   60135437773  33.0   2.0      M
592  592   60162433886  33.0   2.0      M
593  593  601111343080  33.0   2.0      M

[594 rows x 5 columns]

In [31]:
month =[x.month for x in ds1[ 'order_date']]
day = [x.day for x in ds1[ 'order_date']]
hour = [x.hour for x in ds1[ 'order_date']]
weekday = [x.day_name() for x in ds1[ 'order_date']]

In [35]:
ds1=ds1.drop(['order_date'], axis = 1)

In [36]:
ds1['month']=month
ds1['day']=day
ds1['hour']=hour
ds1['weekday'] =weekday

In [37]:
selected = list(ds1['attributes'])
def selecteditem(x):
    selectpos = x.find("'selected_items':")
    endpos = x.find(",", selectpos)
    return(x[selectpos+17:endpos].replace("'",""))
def forNaN(x):
    if len(x)==1:
        return('NaN')
    else:
        return x
selectedList = [forNaN(x) for x in [selecteditem(x) for x in selected]]
ds1['attributes'] = selectedList

In [39]:
ds1.columns

Index(['attributes', 'categories', 'Item_id', 'merchant_id', 'Item_name',
       'Description', 'order_id', 'price_total', 'user_id', 'month', 'day',
       'hour', 'weekday'],
      dtype='object')

In [40]:
ds1.columns = ['selectedItem', 'categories', 'Item_id', 'merchant_id', 'Item_name',
       'Description', 'order_id', 'price_total', 'user','month', 'day', 'hour', 'weekday']

In [41]:
df_cleaned = (pd.merge(ds1, ds2, on='user'))

In [42]:
df_cleaned.to_csv('cleaned.csv')

In [43]:
df_cleaned

,selectedItem,categories,Item_id,merchant_id,Item_name,Description,order_id,price_total,user,month,day,hour,weekday,UID,age,race,gender
0,Freaking Hot,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,184d68c2-4bb7-bf97-cd26-08e0e2c3876c,1.0,60102205487,4,7,14,Sunday,0,37.0,2.0,M
1,Bulgogi,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,a63aefaf-1a76-e014-9d67-831972b561a3,1.0,60102256069,4,1,13,Monday,1,34.0,3.0,M
2,Freaking Hot,['Mixed Parts'],AC11,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,Mixed Parts Large 5pcs Flavours,['Try out our new crispy and juicy fried chick...,5ff58e74-076d-1fc1-3b04-2b809ea3c949,38.8,60102463660,4,28,15,Sunday,2,33.0,1.0,M
3,Swicy,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,10d8269c-7d39-3f3a-a2be-d1761bff4f76,1.0,60102493929,4,2,11,Tuesday,3,33.0,3.0,M
4,Bulgogi,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,59a2ee71-58e4-658a-eeae-a275f8323756,1.0,60102506297,4,7,15,Sunday,4,30.0,2.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Freaking Hot,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,1512db13-c1ad-80e8-7982-da2c8ecf08a6,1.0,60198604864,4,2,19,Tuesday,556,33.0,3.0,M
1415,Freaking Hot,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,cae606f0-42ad-2290-5a97-98c067546d11,1.0,60198604864,4,3,19,Wednesday,556,33.0,3.0,M
1416,Freaking Hot,['Promotion'],PROMO1006,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,RM1 Promo Meal,['Only RM1 for mixed parts 2 pieces combo! Gra...,ab1bc0a3-caaa-630f-e5db-d13fcd14ee98,1.0,60198947711,4,7,13,Sunday,557,21.0,2.0,M
1417,Swicy,['Mixed Parts'],AC8,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,Mixed Parts Regular 3pcs Flavours,['Try out our new crispy and juicy fried chick...,60ae3551-0720-1d06-8bfa-cec3995ea897,25.8,60199855044,4,12,13,Friday,587,33.0,2.0,M
1418,Freaking Hot,['Mixed Parts'],AC8,f1be5086-b65c-4c26-8df1-28df4dbdc0e2,Mixed Parts Regular 3pcs Flavours,['Try out our new crispy and juicy fried chick...,b70f5a2a-5968-5fa9-dab7-b04873378271,19.9,60199855044,4,12,13,Friday,587,33.0,2.0,M