In [59]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import csv

In [60]:
transaction = pd.read_csv("transactions.csv", delimiter="|")
items = pd.read_csv("items.csv", delimiter="|")

In [61]:
transaction.head()

   sessionID  itemID  click  basket  order
0          0   21310      1       0      0
1          1   73018      1       0      0
2          2   19194      1       0      0
3          3   40250      1       0      0
4          4   46107      1       0      0

In [62]:
print(transaction.shape)
print(items.shape)

(365143, 5)
(78030, 6)

In [63]:
data = pd.merge(transaction, items, on=["itemID"])

In [64]:
data.shape

(365143, 10)

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365143 entries, 0 to 365142
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sessionID   365143 non-null  int64
 1   itemID      365143 non-null  int64
 2   click       365143 non-null  int64
 3   basket      365143 non-null  int64
 4   order       365143 non-null  int64
 5   title       365143 non-null  object
 6   author      323809 non-null  object
 7   publisher   365142 non-null  object
 8   main topic  364248 non-null  object
 9   subtopics   365143 non-null  object
dtypes: int64(5), object(5)
memory usage: 30.6+ MB

In [66]:
# choosing Target variable
#print(inner_merged_total['basket'].value_counts())
#print(inner_merged_total['click'].value_counts())
print(data['order'].value_counts())

0     348237
1      16593
2        255
3         18
4          7
5          7
21         4
10         2
25         2
7          2
27         2
12         2
11         2
6          1
28         1
14         1
15         1
19         1
20         1
22         1
23         1
26         1
13         1
Name: order, dtype: int64

In [67]:
##data preprocessing 
##generate target variable interest
data["Interest"] = data["click"] + data["basket"]+ data["order"]

## dropping season ID
del data["sessionID"]

## aggregrate (idea is to generate the frequencies of item id, and multiply it by interest, getting the total interest of the items)

In [68]:
data.head()
#print(inner_merged_total['Interest'].value_counts())

,itemID,click,basket,order,title,author,publisher,main topic,subtopics,Interest
0,21310,1,0,0,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1
1,21310,1,0,0,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1
2,21310,1,0,0,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1
3,73018,1,0,0,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1
4,73018,1,0,0,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",1

In [89]:
count = data[['itemID','title']].groupby(['title']).agg(['count'])
print(count)

                                                   itemID
                                                    count
title
#Basteln for Future                                    22
#Instacat                                               5
#Sticker for Future                                     3
#Wir bleiben zuhause Kindermitmachbuch                208
#selbstschuld - Was heißt schon privat                 11
...                                                   ...
Überlebensprogramm                                      3
Überlebenstraining mit Leo da Vinci                   138
Übernachtungs-Party                                     1
Übungsheft Handlettering: Übungsbuch Für Hand L...      4
Üxe, der Fischstäbchen-Troll                            1

[23534 rows x 1 columns]